              <table role="presentation" width="100%">
                <tr>
                  <td style="padding:10px;text-align:center;">
                    <h1 style="margin:0 auto 16px auto;font-family:Arial,sans-serif;font-size:26px;line-height:32px;font-weight:bold;max-width:20em">%email_heading%</h1>
                  </td>
                </tr>
                <tr>
                  <td style="padding:10px 10px 20px 10px;font-family:Arial,sans-serif;font-size:24px;line-height:28px;font-weight:bold;">
                    <img src="https://res.cloudinary.com/floriade/c_fill,ar_16:9,q_auto,f_jpg,g_auto:subject,w_900/%email_banner%" width="640" alt="%alt%" style="width:100%;height:auto;" />
                  </td>
                </tr>
              </table>
