
/* ----- Gallery ----- */

.gallery {
  --auto-grid-gap: var(--step-0);
  --auto-grid-min-size: 96px;
}

.gallery .frame4x3 {
  grid-column-end: span 4;
  grid-row-end: span 3;
}

.gallery .frame3x2 {
  grid-column-end: span 3;
  grid-row-end: span 2;
}

.gallery .frame2x1 {
  grid-column-end: span 4;
  grid-row-end: span 2;
}

.gallery .frame1x1 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.gallery .frame1x2 {
  grid-column-end: span 2;
  grid-row-end: span 4;
}

.gallery .frame2x3 {
  grid-column-end: span 2;
  grid-row-end: span 3;
}

.gallery .frame3x4 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

@media screen and (min-width: 421px) and (max-width: 500px) {
  .gallery {
    --auto-grid-min-size: 180px;
  }

  .gallery .frame4x3 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }

  .gallery .frame3x2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }

  .gallery .frame2x1 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }

  .gallery .frame1x1 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame1x2 {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }

  .gallery .frame2x3 {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }

  .gallery .frame3x4 {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }
}

@media screen and (max-width: 420px) {
  .gallery {
    --auto-grid-gap: var(--step-4);
    grid-template-columns: 100%;
  }

  .gallery .frame4x3 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame3x2 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame2x1 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame1x1 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame1x2 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame2x3 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .gallery .frame3x4 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
}

