
/* ----- Misc ----- */

:root {
  --measure: 65ch;
  --padding: var(--step-0);
  --section-padding: 7.5vh;
  --button-fg: var(--color-shade3);
  --button-bg: transparent;
  --button-hl: var(--color-shade1);
}

@media screen and (min-width: 1200px) {
  :root {
    --measure: 75ch;
  }
}

img, figure {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

strong {
  color: var(--color-shade3);
  font-family: var(--font-family-secondary);
  font-size: 160%;
  font-weight: normal;
  display:inline;
  line-height: 1;
}

.caption {
  font-size: var(--step--1);
  font-family: var(--font-family-secondary);
  opacity: 0.5;
  text-align: right;
  margin-right: 0.5em;
}

blockquote {
  font-family: var(--font-family-secondary);
  background: var(--color-shade1);
  --box-padding: var(--step-0);
  padding: var(--box-padding);
  border: 2px solid var(--color-shade2);
  border-radius: var(--box-border-radius, 0.5rem);
  border-width: var(--box-border-width, 2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 450px) {
  blockquote {
    --box-padding: var(--step-3);
  }
}

.grecaptcha-badge {display: none;}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-lowercase {
  text-transform: lowercase;
}

.cursor-pointer {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 8px rgba(0,0,0,0.2);
}

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.shadow-primary {
  box-shadow: 0 10px 20px rgba(61,72,68,0.5);
}

.round {
  border-radius: var(--radius, 0.5rem);
}

.round-box {
  --box-padding: var(--step-0);
  padding: var(--box-padding);
  border-radius: var(--box-border-radius, 0.5rem);
  border-width: var(--box-border-width, 2px);
}

.soft-box {
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 2rem 2rem rgba(0,0,0,0.5);
}

/* ----- Select ----- */

.select-css {
  display: block;
  font-size: 16px;
  font-family: var(--font-family-secondary);
  color: var(--button-fg);
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid currentcolor;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-bg);
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
  for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon
  or an external image reference */
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23A6B3AE%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
linear-gradient(to bottom, var(--button-bg) 0%,var(--button-bg) 100%);
background-repeat: no-repeat, repeat;
/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
background-position: right .7em top 50%, 0 0;
/* icon size, then gradient */
background-size: .65em auto, 100%;
          }
          /* Hide arrow icon in IE browsers */
          .select-css::-ms-expand {
            display: none;
          }
          /* Hover style */
          .select-css:hover {
            border-color: #888;
          }
          /* Focus style */
          .select-css:focus {
            border-color: #aaa;
            /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
            box-shadow: 0 0 0 3px -moz-mac-focusring;
            color: #222; 
            outline: none;
          }

          .select-css option {
            font-family: var(--font-family-base);
          }

          /* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}

/* ----- The Cover ----- */

.cover {
  --padding: var(--step-0);
  --min-height: 50vh;
  --cover-space: var(--step-0);
  display: flex;
  flex-direction: column;
  position: relative;
  /* min-height: var(--min-height); */
  padding: var(--padding);
}

.cover > * {
  margin-top: var(--cover-space);
  margin-bottom: var(--cover-space);
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover > .centered {
  margin-top: auto;
  margin-bottom: auto;
}

/* ----- Center ----- */

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- Site Menu ----- */

.site-menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  margin:0;
  padding: 0.25rem;
}

.site-menu li {
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 750px) {
  .site-menu {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
  .site-menu {
    display: none;
  }
}

/* ----- Header ----- */

.header {
  height: min-content;
  position: relative;
}

.header .content {
  padding: 10vh 3vw;
  height: 100%;
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  z-index: 2;
}

.header .logo {
  flex-grow: 1;
  z-index: 2;
}

.logo img {
  width:20vmin;
  min-width:125px;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)) drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)) drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
}

.header h1 {
  text-shadow:0 0 2px rgba(0,0,0,0.5), 0 0 8px rgba(0,0,0,0.2);
  flex-grow: 9999;
  text-align: right;
  z-index: 2;
}

@media screen and (orientation: portrait) and (max-width: 750px) {
  .header .content {
    padding: 5vh 3vw;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .header h1 {
    margin-top: 1em;
    text-align: center;
  }
}

.banner-message {
  text-align: center;
  font-family: var(--font-family-secondary);
  color: var(--color-dark);
  background: var(--color-shade3);
  padding: 0.5rem 1rem;
}

/* ----- Background Image ----- */

.background {
  --brightness: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -2;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  -webkit-filter: brightness(var(--brightness));
  filter: brightness(var(--brightness));
}

/* ----- Section ----- */

section {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

/* ----- Flow ----- */

article > * + * {
  margin-top: 2em;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* ----- Wrapper ----- */

.wrapper {
  --wrapper-width: 1200px;
  --padding: var(--step-2);
  max-width: var(--wrapper-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.page-wrapper {
  --wrapper-width: 1500px;
}

.text-wrapper {
  --wrapper-width: var(--measure);
}

.image-wrapper {
  --wrapper-width: 100vmin;
}

.no-wrapper {
  --padding: 0;
  max-width: none;
}

@media screen and (min-width: 750px) and (orientation: portrait) {
  .image-wrapper {
    --wrapper-width: 70vmin;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    --padding: var(--step-0);
  }
}

/* ----- Button ----- */

button, .button {
  color: var(--button-fg);
  background: var(--button-bg);
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  border: 1px solid var(--button-fg);
  border-radius: var(--button-radius, 0.5rem);
  padding: 0.6rem 1.5rem;
  position: relative;
  font-family: var(--font-family-secondary);
  text-transform: lowercase;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
button:focus, .button:focus {
  outline-offset: -0.2rem;
  outline: 1px solid;
}
button:hover, .button:hover {
  background: var(--button-fg);
  color: var(--button-hl);
  border-color: var(--button-hl);
}
button:active, .button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.button:link { color: var(--button-fg); }
a.button:visited { color: var(--button-fg); }
a.button:hover { color: var(--button-hl); }
a.button:active { color: var(--button-hl); }

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button span {
  width:1em;
  height:1em;
  margin-right:0.5em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:400px) {
  .buttons {
    flex-direction: column;
  }

  .buttons > * + * {
    margin-top: 1.5em;
  }
}

/* ----- The Stack ----- */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  --stack-space: 1em;
}

.stack.center {
  align-items: center;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--stack-space);
}

/* ----- Two Columns ----- */

.two-columns {
  --grid-gap: var(--v-gap, 2em);
  --align: center;
  --padding: 0;
  display: grid;
  align-items: var(--align);
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap, 1em);
}

@media screen and (orientation: landscape) and (min-width: 950px) {
  .two-columns {
    --grid-gap: var(--h-gap, 0);
    grid-template-columns: 10fr 11fr;
  }
  .two-columns.swap {
    grid-template-columns: 11fr 10fr;
  }
  .two-columns > div:first-child,
  .two-columns > div:first-child .wrapper {
    padding-right: 0;
  }
  .two-columns.swap > div:first-child {
    order: 2;
  }
}

/* ----- Auto Grid ----- */

.auto-grid {
  max-width: 25rem;
  margin-left: auto !important;
  margin-right: auto !important;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports (display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(var(--auto-grid-min-size, 16rem), 1fr));
    grid-gap: var(--auto-grid-gap, 1rem);
    grid-auto-flow: dense;
  }

  .auto-grid {
    max-width: unset;
  }

  .auto-grid, .auto-grid > * + * {
    margin: unset;
  }
}

/* ----- Full Width Breakout ----- */

.full-width-breakout {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

/* ----- The Frame ----- */

.frame {
  overflow: hidden;
  height: 0;
  line-height: 0;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.frame16x9 {
  --n: 9;
  --d: 16;
}

.frame4x3 {
  --n: 3;
  --d: 4;
}

.frame3x2 {
  --n: 2;
  --d: 3;
}

.frame3x1 {
  --n: 1;
  --d: 3;
}

.frame2x1 {
  --n: 1;
  --d: 2;
}

.frame1x1 {
  --n: 1;
  --d: 1;
}

.frame1x2 {
  --n: 2;
  --d: 1;
}

.frame2x3 {
  --n: 3;
  --d: 2;
}

.frame3x4 {
  --n: 4;
  --d: 3;
}

.frame9x16 {
  --n: 16;
  --d: 9;
}

.frame.round {
  border: 0;
  border-radius: var(--frame-radius, 0.5rem);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.frame.shadow {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
}

.frame.shadow-primary {
  box-shadow: 3px 3px 12px var(--color-primary);
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame img,
.frame video,
.img-cover {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* ----- Modal ----- */

html[data-modal-active="true"] {
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}

[data-modal-active="true"] body {
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}

/* ----- The Switcher ----- */

.switcher {
  --threshold: 30rem;
  --switcher-space: 1rem;
}

.switcher > * {
  display: flex;
  flex-wrap: wrap;
  /* ↓ Multiply by -1 to make negative */
  margin: calc(var(--switcher-space) / 2 * -1);
}

.switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - (100% - var(--switcher-space))) * 999);
  /* ↓ Half the value to each element, combining to make the whole */
  margin: calc(var(--switcher-space) / 2);
}

