#lightbox {
  display:none;
  background: var(--color-darker-grey);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 990;
}

#lightbox figure {
  position: relative;
  width:auto;
  height:100%;
}

#lightbox figcaption {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  color:light;
  padding:2rem;
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.99));
}

#lightbox img {
  width:auto;
  height:100%;
  object-fit: contain;
}

#lightbox nav {
  z-index: 999;
  color: white;
  position: fixed;
  font-size: 2rem;
  padding: 0;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#lightbox .prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#lightbox .next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#lightbox .close {
  right: 0;
  top: 0;
}

#lightbox .slider {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow-y:hidden;
  overflow-x:scroll;
  scroll-padding:0 50%;
  scroll-snap-type:x mandatory;
  display:flex;
  -webkit-overflow-scrolling:touch;
}

#lightbox .slider-item {
  position:relative;
  flex-grow:1;
  flex-shrink:0;
  width:100vw;
  height:100%;
  scroll-snap-align:center;
}

