.page-links {
  padding:1em 0;
  display:grid;
  grid-gap:3em;
  grid-template-columns:1fr 1fr;
}
.page-links a {
  display:flex;
  align-items:center;
}
.page-links .prev {
  width:var(--step-0);
  margin-right:0.5em;
  flex-shrink:0;
}
.page-links .next {
  width:var(--step-0);
  margin-left:0.5em;
  flex-shrink:0;
}
