.slider {
  width:100%;
  height:100%;
  overflow-y: hidden;
  overflow-x: scroll;
  /* scroll-padding: 0 50%; */
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
}

.slider-item {
  position: relative;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

