@font-face {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/poppins-light-webfont.woff2") format("woff2"),
       url("/fonts/poppins-light-webfont.woff") format("woff"),
       url("/fonts/poppins-light-webfont.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Kollektif;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/kollektif-webfont.woff2") format("woff2"),
       url("/fonts/kollektif-webfont.woff") format("woff"),
       url("/fonts/kollektif-webfont.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-family-base: Poppins, sans-serif;
  --font-family-secondary: Kollektif, sans-serif;

/*
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
*/

{% for token, value in tokens.colors %}
  --{{ token | hyphenate }}: {{ value }};
{%- endfor %}
}

{% for token, value in tokens.colors %}
.{{ token | hyphenate | replace("color-", "bg-") }} { background: {{ value }} }
{%- endfor %}

{% for token, value in tokens.colors %}
.{{ token | hyphenate }} { color: {{ value }} }
{%- endfor %}

{% for token, value in tokens.colors %}
.{{ token | hyphenate | replace("color-", "border-") }} { border: 1px solid {{ value }} }
{%- endfor %}
.border-red { border: 1px solid #FF0000 }
.border-green { border: 1px solid #00FF00 }
.border-blue { border: 1px solid #0000FF }

article a {
  text-decoration: underline;
}

a:link { color: var(--color-shade3); }
a:visited { color: var(--color-shade3); }
a:hover { color: var(--color-shade4); }
a:active { color: var(--color-shade4); }

.link-light a:link { color: var(--color-shade4); }
.link-light a:visited { color: var(--color-shade4); }
.link-light a:hover { color: var(--color-light); }
.link-light a:active { color: var(--color-light); }

.link-dark a:link { color: var(--color-shade1); }
.link-dark a:visited { color: var(--color-shade1); }
.link-dark a:hover { color: var(--color-shade2); }
.link-dark a:active { color: var(--color-shade2); }

.link-lighter a:link { color: var(--color-light); }
.link-lighter a:visited { color: var(--color-light); }
.link-lighter a:hover { color: var(--color-shade3); }
.link-lighter a:active { color: var(--color-shade3); }

.link-darker a:link { color: var(--color-dark); }
.link-darker a:visited { color: var(--color-dark); }
.link-darker a:hover { color: var(--color-primary); }
.link-darker a:active { color: var(--color-primary); }

.font-base {
  font-family: var(--font-family-base);
}

.font-secondary {
  font-family: var(--font-family-secondary);
}

.font-size-5 { font-size: var(--step-5); }
.font-size-4 { font-size: var(--step-4); }
.font-size-3 { font-size: var(--step-3); }
.font-size-2 { font-size: var(--step-2); }
.font-size-1 { font-size: var(--step-1); }
.font-size-0 { font-size: var(--step-0); }
.font-size--1 { font-size: var(--step--1); }
.font-size--2 { font-size: var(--step--2); }

body {
  color: var(--color-light);
  background: var(--color-primary);
  font-family: var(--font-family-base);
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-secondary);
  font-weight: normal;
}

body { font-size: var(--step-0); }
h1 { font-size:var(--step-3); }
article h1 { font-size:var(--step-3); }
aside h1 { font-size:var(--step-3); }
nav h1 { font-size:var(--step-3); }
section h1 { font-size:var(--step-3); }
h2 { font-size: var(--step-2); }
h3 { font-size: var(--step-1); }
h4 { font-size: var(--step-0); }
h5 { font-size: var(--step--1); }
h6 { font-size: var(--step--2); }

.bigfonts p { font-size: var(--step-1); }
.bigfonts span { font-size: var(--step-1); }
.bigfonts button { font-size: var(--step-1); }
.bigfonts h1 { font-size:var(--step-4); }
.bigfonts article h1 { font-size:var(--step-4); }
.bigfonts aside h1 { font-size:var(--step-4); }
.bigfonts nav h1 { font-size:var(--step-4); }
.bigfonts section h1 { font-size:var(--step-4); }
.bigfonts h2 { font-size: var(--step-3); }
.bigfonts h3 { font-size: var(--step-2); }
.bigfonts h4 { font-size: var(--step-1); }
.bigfonts h5 { font-size: var(--step--2); }
.bigfonts h6 { font-size: var(--step--3); }

.heading, article h1, article h2, article h3, article h4, article h5 {
  text-transform: lowercase;
  color: var(--color-shade3);
}

@media screen and (min-width: 750px) {
  article h1, article h2, article h3, article h4, article h5 {
    transform: translateX(-0.5em);
  }
}
