<header class="header" style="background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{{ site.cloudinary_url }}c_fill,w_1920,h_300,q_auto,f_auto,g_auto:subject/{{ header_image }}')">
  <div class="wrapper page-wrapper">
    <a href="/">
      <img src="{{ '/images/floriade-logo.png' | url }}" alt="Floriade logo" width="320" height="269">
    </a>
    <h1 class="text-center">{{ title | lower }}</h1>
  </div>
</header>
