
{# ----- Instagram Thumbnails ----- #}

{% set instagram_images = instagram | head(12) %}

<section class="wrapper">
  <ul class="auto-grid" style="--auto-grid-min-size:220px">
    {% for item in instagram_images -%}
      <li class="frame frame1x1 shadow">
        <img src="{{ site.cloudinary_url }}image/fetch/c_fill,w_460,h_460,q_auto,f_auto,g_auto:subject/{{ item.media_url | urlencode }}" alt="{{ item.caption }}" onclick="openModal();showSlide({{ loop.index }})" loading="lazy">
      </li>
    {% endfor %}
  </ul>
</section>

{# ----- Instagram Lightbox ----- #}

<div id="lightbox" class="instagram">
  <nav class="close" onclick="closeModal()">&times;</nav>
  {% for item in instagram_images -%}
    <div class="lightbox__slide">
      <div>
        <figure class="frame frame1x1">
          <img src="{{ site.cloudinary_url }}image/fetch/{{ item.media_url | urlencode }}" alt="{{ item.caption }}" loading="lazy">
        </figure>
      </div>
      <p>{{ item.caption }}</p>
      {% if loop.index > 1 %}
        <nav class="prev" onclick="showSlide({{ loop.index - 1 }})">&lt;</nav>
      {% else %}
        <nav class="prev">&nbsp;</nav>
      {% endif %}
      {% if loop.index < 12 %}
        <nav class="next" onclick="showSlide({{ loop.index + 1 }})">&gt;</nav>
      {% else %}
        <nav class="next">&nbsp;</nav>
      {% endif %}
    </div>
  {% endfor %}
</div>

