{% set css %}
.lightbox__slide.instagram {
  align-items: center;
}

@media screen and (orientation: portrait) {
  .lightbox__slide.instagram {
    align-items: flex-start;
  }
}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>

{# ----- Instagram Thumbnails ----- #}

{% set instagram_images = instagram | head(12) %}

<section class="wrapper">
  <ul class="auto-grid" style="--auto-grid-min-size:220px">
    {% for item in instagram_images -%}
      <li class="frame frame1x1 round shadow">
        <img src="{{ site.cloudinary_url }}/image/fetch/c_fill,w_460,h_460,q_auto,f_auto,g_auto:subject/{{ item.media_url | urlencode }}" alt="{{ item.caption }}" onclick="openLightbox();showSlide({{ loop.index }})" loading="lazy">
      </li>
    {% endfor %}
  </ul>
</section>

{# ----- Instagram Lightbox ----- #}

<div id="lightbox">
  <nav class="close" onclick="closeLightbox()">&times;</nav>
  {% for item in instagram_images -%}
    <div class="lightbox__slide instagram">
      <div class="domino" style="--domino-space:0">
        <img src="{{ site.cloudinary_url }}/image/fetch/{{ item.media_url | urlencode }}" alt="{{ item.caption }}" loading="lazy">
        <div style="max-height:40vmax;overflow-x:hidden;overflow-y:auto">
          <div style="display:flex;align-items:center;min-height:100%">
            <p>{{ item.caption }}</p>
          </div>
        </div>
      </div>

      {% if loop.index > 1 %}
        <nav class="prev" onclick="showSlide({{ loop.index - 1 }})">&lt;</nav>
      {% else %}
        <nav class="prev">&nbsp;</nav>
      {% endif %}
      {% if loop.index < instagram_images | length %}
        <nav class="next" onclick="showSlide({{ loop.index + 1 }})">&gt;</nav>
      {% else %}
        <nav class="next">&nbsp;</nav>
      {% endif %}
    </div>
  {% endfor %}
</div>

