---
layout: layouts/base.njk
---

<h1>Floriade</h1>
<h2>fresh & dried flowers for any occasion</h2>

<section>
<div class="gallery-container">
{% set insta_images = instagram | head(12)%}
{% for image in insta_images %}
    <img src="{{ image.media_url }}">
    <!-- <p>{{ image.caption }}</p> -->
{% endfor %}
</div>
</section>

<ul>
  {% for post in collections.posts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
