---
layout: layouts/base.njk
---

<h1>Floriade</h1>

<section class="hero is-info">
<div class="hero-body">

{% for insta in instagram %}
  <img src="{{ insta.media_url  }}">
  <p>{{ insta.caption }}</p>
{% endfor %}

</div>
</section>

<ul>
  {% for post in collections.posts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
