---
layout: layouts/base.njk
---

<header class="uk-section uk-section-primary">
<div class="uk-container">

{% include "nav.njk" %}

<img class="uk-display-block uk-margin-auto" src="{{ '/images/floriade-logo-white.svg' | url }}" width=150 height=auto alt="Floriade logo">
<h1 class="uk-heading-line uk-text-center uk-margin-remove-bottom"><span>Floriade</span></h1>
<h2 class="uk-heading-divider uk-text-center uk-margin-remove-top"><span>fresh & dried flowers <br class="uk-hidden@s">for any occasion</span></h2>
</div>
</header>

<section uk-height-viewport>
</section>