{% macro text_section(content) %}

<section>
  <div class="cover" style="--min-height:1vh">
    <article class="centered wrapper text-wrapper">
      {% markdown content %}
    </article>
  </div>
</section>

{% endmacro %}



{% macro hero_section(image, content) %}

<section>
  <div class="cover shadow" style="--min-height:50vmin">
    <figure class="background">
      {# <img src="{{ site.cloudinary_url }}{{ image }}" alt="{{ alt or site.alt }}"> #}
      <img style="filter:grayscale(100%) contrast(30%) brightness(80%) opacity(50%)" src="{{ site.cloudinary_url }}{{ image }}" alt="{{ alt or site.alt }}">
    </figure>
    <article class="centered wrapper text-wrapper">
      {% markdown content %}
    </article>
  </div>
</section>

{% endmacro %}



{% macro split_image_text_section(image, content, swap) %}

<section>
  <div class="domino{{ ' swap' if swap }}">
    <figure>
      {% respimg image, alt or site.alt, "(orientation: landscape) 50vw, 100vw", "c_fill,ar_1,q_auto,f_auto,g_auto:subject", "img-cover", true %}
    </figure>
    <div class="center-both">
      <article class="wrapper text-wrapper">
        {% markdown content %}
      </article>
    </div>
  </div>
</section>

{% endmacro %}



{% macro gallery_section() %}

<section>
  <div class="wrapper page-wrapper">
    <ul class="auto-grid gallery">
      {% if gallery_folder == "dried-flowers" %}
        {% set images = dried_flowers_gallery | shuffle %}
      {% elif gallery_folder == "fresh-flowers" %}
        {% set images = fresh_flowers_gallery | shuffle %}
      {% elif gallery_folder == "wedding-flowers" %}
        {% set images = wedding_flowers_gallery | shuffle %}
      {% endif %}

      {# {% set images = gallery | shuffle %} #}

      {% for image in images -%}
        {% if image.aspect_ratio > 1.38 %}
          {% set aspect = "4x3" %}
          {% set width = "640" %}
          {% set height = "480" %}
        {% elif image.aspect_ratio > 0.72 %}
          {% set aspect = "1x1" %}
          {% set width = "320" %}
          {% set height = "320" %}
        {% else %}
          {% set aspect = "2x3" %}
          {% set width = "320" %}
          {% set height = "480" %}
        {% endif %}
        <li class="frame frame{{ aspect }} round shadow">
          <noscript>
            <a href="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}"><img src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ image.public_id }}" alt="{{ image.context.alt or alt or site.alt }}" title="{{ image.context.alt or alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" style="cursor:pointer"></a>
          </noscript>
          <img src="{{ site.cloudinary_url }}/c_fill,w_{{ width / 10 }},h_{{ height / 10 }},q_1,f_auto,e_blur:200/{{ image.public_id }}" data-src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ image.public_id }}" alt="{{ image.context.alt or alt or site.alt }}" title="{{ image.context.alt or alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" onclick="openLightbox();showSlide({{ loop.index }})" style="cursor:pointer" loading="xlazy">
        </li>
        {%- endfor %}
    </ul>
  </div>
</section>

{# ----- Gallery Lightbox ----- #}

<div id="lightbox">
  <nav class="close" onclick="closeLightbox()">&times;</nav>
  {% for image in images -%}
    <div class="lightbox__slide">
      <img data-srcset="
      {%- for size in image_sizes %}
      {{ site.cloudinary_url }}/c_limit,w_{{ size }},h_{{ size }},q_auto,f_auto/{{ image.public_id }} {{ size }}w{{ ',' if not loop.last }}
      {%- endfor %}
      " sizes="{{ "80vh" if image.aspect_ratio < 1 else "80vw" }}" data-src="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}" alt="{{ image.context.alt or alt or site.alt }}" title="{{ image.context.alt or alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
      <div class="caption">
        <h4>{{ image.context.alt or alt or site.alt }}</h4>
      <h5 class="link-light">{% if image.context["Credit Link"] %}Photo credit <a href="{{ image.context["Credit Link"] | safe }}" target="_blank">{{ image.context["Credit Name"] }}</a>{% else %}&nbsp;{% endif %}</h5>
      <h5 class="link-light"><a href="mailto:{{ site.email }}?subject=Gallery%20Enquiry&amp;body=Hi%20Annwyn%0A%0A{{ image.context.alt or alt or site.alt }}%0A%0A{{ site.cloudinary_url }}/c_limit,w_1200,h_1200,q_auto,f_auto/{{ image.public_id }}">Email Floriade about this image{# ( {{ image.public_id }} ) #}</a></h5>
      </div>

      {% if loop.index > 1 %}
        <nav class="prev" onclick="showSlide({{ loop.index - 1 }})">&lt;</nav>
      {% else %}
        <nav class="prev">&nbsp;</nav>
      {% endif %}
      {% if loop.index < images | length %}
        <nav class="next" onclick="showSlide({{ loop.index + 1 }})">&gt;</nav>
      {% else %}
        <nav class="next">&nbsp;</nav>
      {% endif %}
    </div>
    {%- endfor %}
</div>

{% endmacro %}



