{% macro split_image_text_section(image, text, swap) %}

<section>
  <div class="domino{{ ' swap' if swap }}">
    <figure>
      <img class="img-cover" src="{{ site.cloudinary_url }}{{ image }}" alt="{{ alt or site.alt }}">
    </figure>
    <div class="center-both">
      <article class="wrapper text-wrapper">
        {% markdown text %}
      </article>
    </div>
  </div>
</section>

{% endmacro %}



{% macro hero_section(image, text) %}

<section>
  <div class="cover" style="--min-height:100vh">
    <figure class="background">
      <img class="darken" src="{{ site.cloudinary_url }}{{ image }}" alt="{{ alt or site.alt }}">
    </figure>
    <article class="centered wrapper text-wrapper bg-shade1 round-box shadow" style="--padding: var(--step-3)">
      {% markdown text %}
    </article>
  </div>
</section>

{% endmacro %}
