{% macro text_section(text) %}

<section>
  <article class="wrapper text-wrapper">
    {% markdown text %}
  </article>
</section>

{% endmacro %}



{% macro hero_section(image, text) %}

<section>
  <div class="cover shadow" style="--min-height:90vmin">
    <figure class="background">
      {% respimg image | stripVersion, alt or site.alt, "100vw", "c_fill,ar_1,q_auto,f_auto,g_auto:subject", "darken30", true %}
    </figure>
    <article class="bigfonts font-secondary centered wrapper text-wrapper flow text-center text-shadow">
      {% markdown text %}
    </article>
  </div>
</section>

{% endmacro %}



{% macro split_image_text_section(image, text, swap) %}

<section>
  <div class="domino{{ ' swap' if swap }}">
    <figure>
      {% respimg image | stripVersion, alt or site.alt, "(orientation: landscape) 50vw, 100vw", "c_fill,ar_1,q_auto,f_auto,g_auto:subject", "img-cover", true %}
    </figure>
    <div class="center-both">
      <article class="wrapper text-wrapper">
        {% markdown text %}
      </article>
    </div>
  </div>
</section>

{% endmacro %}



{% macro contact_form_section(heading, message, button, email_subject, email_heading, email_banner, alt) %}

<section>
  <div class="wrapper text-wrapper flow">
    <h2 class="heading text-center">{{ heading or 'Contact Us' }}</h2>
    <form id="contact-form" class="req-js" action="/php/contact-form-handler.php" method="post">
      <label for="name-input">
        Name
        <input id="name-input" name="name" type="text" placeholder="Your Name">
      </label>
      <label for="email-input">
        Email
        <input id="email-input" name="email" type="email" placeholder="Your Email">
      </label>
      <label for="message-input">
        Message
        <textarea id="message-input" name="message" placeholder="{{ message or 'How can we help you?' }}" rows="10"></textarea>
      </label>
      <input id="subject-input" name="subject" type="hidden" value="{{ email_subject or 'Flowers Enquiry' }}">
      <input id="heading-input" name="heading" type="hidden" value="{{ email_heading or 'Thankyou for contacting Floriade.' }}">
      <input id="banner-input" name="banner" type="hidden" value="{{ email_banner or 'https://floriade.co.nz/images/floriade-icon-round-512.png' }}">
      <input id="alt-input" name="alt" type="hidden" value="{{ alt or 'Flowers by Floriade' }}">
      <input id="gRecaptchaResponse" name="g-recaptcha-response" type="hidden">

      <p class="text-center font-secondary" style="color:red;min-height:1.5em" id="response-message">&nbsp;</p>
      {# <button type="submit">{{ button or 'Send Message' }}</button> #}
      <div class="text-center"><button class="button" type="submit">{{ button or 'Send Message' }}</button></div>
      <p class="font-size--2 text-center">Protected by reCAPTCHA &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a> &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/en/policies/terms/">Terms</a></p>
    </form>
    <noscript>
      <div class="text-center flow" style="margin-top:1em">
        <p><a href="{{ site.mailto_obf | safe }}?subject={{ email_subject or 'Flowers Enquiry' }}" title="Send us a message">{{ site.email_obf | safe }}</a></p>
        <p><a href="tel:{{ site.phone_intl }}" title="Call now">{{ site.phone }}</a></p>
      </div>
    </noscript>
  </div>
</section>

{% endmacro %}



{% macro gallery_section() %}

<section>
  <div class="wrapper page-wrapper">
    <ul class="auto-grid gallery">

      {% if gallery_folder == "dried-flowers" %}
        {% set images = dried_flowers_gallery | shuffle %}
      {% elif gallery_folder == "fresh-flowers" %}
        {% set images = fresh_flowers_gallery | shuffle %}
      {% elif gallery_folder == "wedding-flowers" %}
        {% set images = wedding_flowers_gallery | shuffle %}
      {% else %}
        {# {% set images = gallery | shuffle %} #}
      {% endif %}

      {% for image in images -%}
        {% if image.aspect_ratio > 1.38 %}
          {% set aspect = "4x3" %}
          {% set width = "640" %}
          {% set height = "480" %}
        {% elif image.aspect_ratio > 0.72 %}
          {% set aspect = "1x1" %}
          {% set width = "320" %}
          {% set height = "320" %}
        {% else %}
          {% set aspect = "2x3" %}
          {% set width = "320" %}
          {% set height = "480" %}
        {% endif %}
        <li class="frame frame{{ aspect }} round shadow">
          <noscript>
            <a href="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}"><img src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ image.public_id }}" alt="{{ image.context.alt or alt or site.alt }}" title="{{ image.context.alt or alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" style="cursor:pointer"></a>
          </noscript>
          <img src="{{ image.preview }}" data-src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ image.public_id }}" alt="{{ image.context.alt or alt or site.alt }}" title="{{ image.context.alt or alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" onclick="openLightbox();showSlide({{ loop.index }})" style="cursor:pointer" loading="lazy">
        </li>
        {%- endfor %}
    </ul>
  </div>
</section>

{# ----- Gallery Lightbox ----- #}

<div id="lightbox">
  <nav class="close" onclick="closeLightbox()">&times;</nav>
  {% for image in images -%}
    <div class="lightbox__slide">
      <img data-srcset="
      {%- for size in image_sizes %}
      {{ site.cloudinary_url }}/c_limit,w_{{ size }},h_{{ size }},q_auto,f_auto/{{ image.public_id }} {{ size }}w{{ ',' if not loop.last }}
      {%- endfor %}
      " sizes="{{ "80vh" if image.aspect_ratio < 1 else "80vw" }}" data-src="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}" alt="{{ image.context.alt or alt or site.alt }}" title="{{ image.context.alt or alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
      <div class="caption">
        <h4>{{ image.context.alt or alt or site.alt }}</h4>
      <h5 class="link-light">{% if image.context["Credit Link"] %}Photo credit <a href="{{ image.context["Credit Link"] | safe }}" target="_blank">{{ image.context["Credit Name"] }}</a>{% else %}&nbsp;{% endif %}</h5>
      <h5 class="link-light"><a href="{{ site.mailto_obf | safe }}?subject=Gallery%20Enquiry&amp;body=Hi%20Annwyn%0D%0A%0D%0A{{ image.context.alt or alt or site.alt }}%0D%0A{{ site.cloudinary_url }}/c_limit,w_1200,h_1200,q_auto,f_auto/{{ image.public_id }}">Email Floriade about this image{# ( {{ image.public_id }} ) #}</a></h5>
      </div>

      {% if loop.index > 1 %}
        <nav class="prev" onclick="showSlide({{ loop.index - 1 }})">&lt;</nav>
      {% else %}
        <nav class="prev">&nbsp;</nav>
      {% endif %}
      {% if loop.index < images | length %}
        <nav class="next" onclick="showSlide({{ loop.index + 1 }})">&gt;</nav>
      {% else %}
        <nav class="next">&nbsp;</nav>
      {% endif %}
    </div>
    {%- endfor %}
</div>

{% endmacro %}



