<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}
    {% if sitemap.ignore %}
    <meta name="robots" content="noindex" />
    {% endif %}
    {% include "partials/favicon.njk" %}

    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/modular-scale.css" %}
    {% include "css/theme.njk" %}
    {% include "css/layout.css" %}
    {% endset %}

    <style>
    {{ css | cssmin | safe }}
    </style>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% block foot %}
    {% endblock %}
  </body>
</html>
