<!DOCTYPE html>
<html lang="en" id="top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}
    {% if sitemap.ignore %}
    <meta name="robots" content="noindex" />
    {% endif %}
    {% include "partials/favicon.njk" %}

    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/modular-scale.css" %}
    {% include "css/theme.njk" %}
    {% include "css/layout.css" %}
    {% include "css/hamburger-menu.css" %}
    {% endset %}

    <style>
    {{ css | cssmin | safe }}
    </style>

    {% block head %}
    {% endblock %}

    <noscript><style>.req-js,[data-src]{display:none;}</style></noscript>

  </head>

  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% block foot %}
      {% include "partials/hamburger-menu.njk" %}
      {% set js %}
      {% include "js/lazy-images.js" %}
      {% include "js/hamburger-menu.js" %}
      {% endset %}

      <script>
        {{ js | jsmin | safe }}
      </script>
    {% endblock %}

  </body>
</html>
