{% extends "layouts/page.njk" %}

{#
{% block head %}
  {{ super() }}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {% for item in faq -%}
      {
        "@type": "Question",
          "name": "{{ item.question }}",
          "acceptedAnswer": {
            "@type": "Answer",
              "text": "{{ item.answer }}"
          }
      {{ '}' if loop.last else '},' }}
    {% endfor -%}
    ]
  }
  </script>
{% endblock %}
#}
