{% extends "layouts/base.njk" %}

{% block head %}
{{ super() }}
  {% set jsonld %}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ title | safe }}",
    "description": "{{ description | safe }}",
    {% set image_id = (header_image | stripVersion) or (site.header_image | stripVersion) %}
    "image": [
      "{{ site.cloudinary_url }}/w_1440,ar_1,c_fill,f_jpg,q_auto,g_auto/{{ image_id }}",
      "{{ site.cloudinary_url }}/w_1440,ar_4:3,c_fill,f_jpg,q_auto,g_auto/{{ image_id }}",
      "{{ site.cloudinary_url }}/w_1440,ar_16:9,c_fill,f_jpg,q_auto,g_auto/{{ image_id }}"
    ],
    "author": {
      "@type": "Person",
      "name": "{{ (author | safe) or 'Annwyn Tobin' }}"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "Floriade",
      "logo": {
        "@type": "ImageObject",
        "url": "https://floriade.co.nz/images/floriade-word-60.png"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
    },
    "datePublished": "{{ page.date | htmlDateString }}",
    "dateModified": "{{ page.date | htmlDateString }}"
  }
  {% endset %}

  <script type="application/ld+json">
    {{ jsonld | jsonmin | safe }}
  </script>

  {% set css %}
  {% include "css/sharing-buttons.css" %}
  {% include "css/page-links.css" %}
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  <section>
    <div class="wrapper text-wrapper">
      <article>
        {{ super() }}
      </article>
    </div>
    <p class="text-center font-size--1" style="padding-top:var(--section-padding);opacity:0.5">share this post</p>
    <div class="wrapper link-light font-size--1" style="display:flex;justify-content:center">
      <!-- Sharingbutton Facebook -->
      <a class="resp-sharing-button-link" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" title="Share on Facebook" aria-label="Share on Facebook">
        <div class="resp-sharing-button resp-sharing-button-facebook">
          <div aria-hidden="true" class="resp-sharing-button-icon resp-sharing-button-icon-solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
          </div>
          <span class="resp-sharing-button-text">Facebook</span>
        </div>
      </a>

      <!-- Sharingbutton Twitter -->
      <a class="resp-sharing-button-link" href="https://twitter.com/intent/tweet/?text={{ title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" title="Share on Twitter" aria-label="Share on Twitter">
        <div class="resp-sharing-button resp-sharing-button-twitter">
          <div aria-hidden="true" class="resp-sharing-button-icon resp-sharing-button-icon-solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
          </div>
          <span class="resp-sharing-button-text">Twitter</span>
        </div>
      </a>

      <!-- Sharingbutton E-Mail -->
      <a class="resp-sharing-button-link" href="mailto:?subject={{ title }}&amp;body={{ title }}%0D%0A%0D%0A{{ description }}%0D%0A%0D%0A{{ site.url }}{{ page.url }}" target="_self" rel="noopener" title="Share on E-Mail" aria-label="Share on E-Mail">
        <div class="resp-sharing-button resp-sharing-button-email">
          <div aria-hidden="true" class="resp-sharing-button-icon resp-sharing-button-icon-solid">
            <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1504v-768q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5-102.5 24.5h-2q-48 0-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13 0-22.5 9.5t-9.5 22.5q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5 50.5 27.5 43 9h2q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5t46.5-131.5zm128-37v1088q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1472q66 0 113 47t47 113z" /></svg>
          </div>
          <span class="resp-sharing-button-text">E-Mail</span>
        </div>
      </a>

      <!-- Sharingbutton Pinterest -->
      <a class="resp-sharing-button-link" href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ page.url }}&amp;description={{ description }}" target="_blank" rel="noopener" title="Pin on Pinterest" aria-label="Pin on Pinterest">
        <div class="resp-sharing-button resp-sharing-button-pinterest">
          <div aria-hidden="true" class="resp-sharing-button-icon resp-sharing-button-icon-solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.14.5C5.86.5 2.7 5 2.7 8.75c0 2.27.86 4.3 2.7 5.05.3.12.57 0 .66-.33l.27-1.06c.1-.32.06-.44-.2-.73-.52-.62-.86-1.44-.86-2.6 0-3.33 2.5-6.32 6.5-6.32 3.55 0 5.5 2.17 5.5 5.07 0 3.8-1.7 7.02-4.2 7.02-1.37 0-2.4-1.14-2.07-2.54.4-1.68 1.16-3.48 1.16-4.7 0-1.07-.58-1.98-1.78-1.98-1.4 0-2.55 1.47-2.55 3.42 0 1.25.43 2.1.43 2.1l-1.7 7.2c-.5 2.13-.08 4.75-.04 5 .02.17.22.2.3.1.14-.18 1.82-2.26 2.4-4.33.16-.58.93-3.63.93-3.63.45.88 1.8 1.65 3.22 1.65 4.25 0 7.13-3.87 7.13-9.05C20.5 4.15 17.18.5 12.14.5z"/></svg>
          </div>
          <span class="resp-sharing-button-text">Pinterest</span>
        </div>
      </a>

      <!-- Sharingbutton LinkedIn -->
      <a class="resp-sharing-button-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ title }}&amp;summary={{ description }}&amp;source={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" title="Share on LinkedIn" aria-label="Share on LinkedIn">
        <div class="resp-sharing-button resp-sharing-button-linkedin">
          <div aria-hidden="true" class="resp-sharing-button-icon resp-sharing-button-icon-solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/></svg>
          </div>
          <span class="resp-sharing-button-text">LinkedIn</span>
        </div>
      </a>
    </div>
  </section>
  <hr>
  <div class="wrapper page-wrapper">
    <nav class="page-links font-secondary">
      {% if prevPost.url %}
        <a href="{{ prevPost.url }}" title="Previous" aria-label="Previous">
          <span class="prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
          <p class="text-lowercase">{{ prevPost.data.title }}</p>
        </a>
      {% else %}
        <p>&nbsp;</p>
      {% endif %}
      {% if nextPost.url %}
        <a href="{{ nextPost.url }}" title="Next" aria-label="Next" style="justify-self:end">
          <p class="text-right text-lowercase">{{ nextPost.data.title }}</p>
          <span class="next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
        </a>
      {% else %}
        <p>&nbsp;</p>
      {% endif %}
    </nav>
  </div>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}
