{% extends "layouts/simple-page.njk" %}

{% block head %}
{{ super() }}
  {% set jsonld %}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ title | safe }}",
    "description": "{{ description or site.description | safe }}",
    {% set header_image = (header.image | stripVersion) or (site.header_image | stripVersion) %}
    "image": [
      "{{ site.cloudinary_url }}/w_1440,ar_1,c_fill,f_jpg,q_auto,g_auto:subject/{{ header_image }}",
      "{{ site.cloudinary_url }}/w_1440,ar_4:3,c_fill,f_jpg,q_auto,g_auto:subject/{{ header_image }}",
      "{{ site.cloudinary_url }}/w_1440,ar_16:9,c_fill,f_jpg,q_auto,g_auto:subject/{{ header_image }}"
    ],
    "author": {
      "@type": "Person",
      "name": "{{ (author | safe) or 'Annwyn Tobin' }}"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "Floriade",
      "logo": {
        "@type": "ImageObject",
        "url": "https://floriade.co.nz/images/floriade-word-60.png"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
    },
    "datePublished": "{{ page.date | htmlDateString }}",
    "dateModified": "{{ page.date | htmlDateString }}"
  }
  {% endset %}

  <script type="application/ld+json">
    {{ jsonld | jsonmin | safe }}
  </script>
{% endblock %}
