{% extends "layouts/page.njk" %}

{% block pre %}
<?php include $_SERVER['DOCUMENT_ROOT'] . '/php/shop-functions.php'; ?>

<?php

$delivery_suburb = "";
$return_url = "";

$page = "Checkout";

if($_SERVER["REQUEST_METHOD"] == "POST") {

  if(isset($_POST["return-url"])) { $return_url = clean($_POST["return-url"]); }
  if(empty($return_url)) { criticalError($page, "No Return URL"); }

  if(isset($_POST["delivery-suburb"])) { $delivery_suburb = clean($_POST["delivery-suburb"]); }

  if(empty($delivery_suburb)) {
    $_SESSION["error"] = "Please choose a delivery option";
    header("Location:" . $return_url);
    exit;
  }

  $timeout = microtime(true) - $cart_expiry_time;

  $cart_expired = false;

  foreach($_SESSION["cart"] as $cart_item) {
    if(isset($cart_item["stock-id"])) {
      $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
      if(($cart_item["updated"] < $timeout) || ($cart_item["updated"] < $stock_item["updated"])) {
        $cart_expired = true;
      }
    }
  }

  if($cart_expired) {
    foreach($_SESSION["cart"] as $cart_item) {
      if(isset($cart_item["stock-id"])) {
        $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
        if($cart_item["updated"] == $stock_item["updated"]) {
          $stock_item["updated"] = microtime(true) - $cart_reset_time;
          $stockStore->update($stock_item);
        }
      }
    }

    unset($_SESSION["cart"]);
    $_SESSION["cart"] = array();
    $_SESSION["error"] = "Your session has timed out";
    header("Location:" . $return_url);
    exit;
  }

  $_SESSION["delivery-suburb"] = $delivery_suburb;
}

?>
{% endblock %}
