{% extends "layouts/page.njk" %}

{% block head %}
  {{ super() }}
  {% set jsonld %}
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {% for item in faq -%}
      {
        "@type": "Question",
          "name": "{{ item.question }}",
          "acceptedAnswer": {
            "@type": "Answer",
              "text": "{{ item.answer }}"
          }
      {{ '}' if loop.last else '},' }}
    {% endfor -%}
    ]
  }
  {% endset %}

  <script type="application/ld+json">
    {{ jsonld | jsonmin | safe }}
  </script>

  {% set css %}
  .faq label{
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 30px;
  }

  .faq label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 10px;
    border-left: 8px solid currentColor;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-top: -8px;
  }

  .faq input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  .faq input[type="checkbox"]:checked ~ h3 label::before {
    border-left: 8px solid transparent;
    border-top: 8px solid currentColor;
    border-right: 8px solid transparent;
    margin-left: -4px;
    margin-top: -4px;
  }

  .faq p {
    padding: 0;
    max-height: 0;
    overflow: hidden;
  }

  .faq input[type="checkbox"]:checked ~ h3 ~ p {
    padding: 1em;
    max-height: 100%;
  }

  @media screen and (max-width: 420px) {
    .faq input[type="checkbox"]:checked ~ h3 ~ p {
      padding: 1em 0 0 0;
    }
  }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>

{% endblock %}
