{% extends "layouts/page-builder.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/slider.css" %}
  {% include "css/gallery.css" %}
  {% endset %}

  <style>
{{ css | cssmin | safe }}
  </style>
{% endblock %}


{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% include "partials/page-sections.njk" %}
  <section>
    <div class="wrapper page-wrapper">
      <ul class="auto-grid gallery">

        {% if gallery_folder == "dried-flowers" %}
          {% set images = dried_flowers_gallery | shuffle %}
        {% elif gallery_folder == "fresh-flowers" %}
          {% set images = fresh_flowers_gallery | shuffle %}
        {% elif gallery_folder == "wedding-flowers" %}
          {% set images = wedding_flowers_gallery | shuffle %}
        {% else %}
          {# {% set images = gallery | shuffle %} #}
        {% endif %}

        {% for image in images -%}
          {% if image.aspect_ratio > 1.38 %}
            {% set aspect = "4x3" %}
            {% set width = "640" %}
            {% set height = "480" %}
          {% elif image.aspect_ratio > 0.72 %}
            {% set aspect = "1x1" %}
            {% set width = "320" %}
            {% set height = "320" %}
          {% else %}
            {% set aspect = "2x3" %}
            {% set width = "320" %}
            {% set height = "480" %}
          {% endif %}
          <li class="frame frame{{ aspect }} round shadow">
            <figure>
              <noscript>
                <a href="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}"><img src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ image.public_id }}" alt="{{ image.context.alt or page_alt or site.alt }}" title="{{ image.context.alt or page_alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" style="cursor:pointer" /></a>
              </noscript>
              {% set lqip_path = site.cloudinary_url + "/c_limit,w_64,h_64,f_jpg,e_blur:200/" + (image.public_id | stripVersion) %}
              <img src="{{ lqip_path | lqip }}" data-src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ image.public_id }}" alt="{{ image.context.alt or page_alt or site.alt }}" title="{{ image.context.alt or page_alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" onclick="openLightbox('#item{{ loop.index }}')" style="cursor:pointer" data-loading="lazy" />
            </figure>
          </li>
          {%- endfor %}
      </ul>
    </div>
  </section>

  {# ----- Gallery Lightbox ----- #}

  <div id="lightbox" class="slider-controls">
    <ul class="slider">
      {% for image in images -%}
        <li id="item{{ loop.index }}" class="slider-item">
          <figure class="center-both">
            {% set lqip_path = site.cloudinary_url + "/c_limit,w_64,h_64,f_jpg,e_blur:200/" + (image.public_id | stripVersion) %}
            <img src="{{ lqip_path | lqip }}" data-srcset="
            {%- for size in image_sizes -%}
            {{ site.cloudinary_url }}/c_limit,w_{{ size }},h_{{ size }},q_auto,f_auto/{{ image.public_id }} {{ size }}w{{ ',' if not loop.last }}
            {%- endfor -%}
            " sizes="{{ "100vh" if image.aspect_ratio < 1 else "100vw" }}" data-src="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}" alt="{{ image.context.alt or page_alt or site.alt }}" title="{{ image.context.alt or page_alt or site.alt }}{% if image.context["Credit Name"] %} - Photo credit {{ image.context["Credit Name"] }}{% endif %}" width="{{ image.width }}" height="{{ image.height }}" data-loading="lazy" />
            <figcaption class="wrapper text-wrapper">
              <div class="text-center text-shadow flow">
                <h4>{{ image.context.alt or page_alt or site.alt }}</h4>
                <h5 class="link-light"><a href="{{ site.mailto_obf | safe }}?subject=Gallery%20Enquiry&amp;body=Hi%20Annwyn%0D%0A%0D%0A{{ image.context.alt or page_alt or site.alt }}%0D%0A{{ site.cloudinary_url }}/c_limit,w_1200,h_1200,q_auto,f_auto/{{ image.public_id }}">Email Floriade about this image</a></h5>
              <h5 class="link-light">{% if image.context["Credit Link"] %}Photo credit <a href="{{ image.context["Credit Link"] | safe }}" target="_blank">{{ image.context["Credit Name"] }}</a>{% else %}&nbsp;{% endif %}</h5>
              </div>
            </figcaption>
          </figure>
        </li>
        {%- endfor %}
    </ul>
    <nav class="toggle-captions" onclick="toggleCaptions()">
      <span style="width:var(--step-1)" title="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="close" onclick="closeLightbox()">
      <span style="width:var(--step-1)" title="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="prev" onclick="scrollToPrevItem('#lightbox')">
      <span style="width:var(--step-1)" title="Prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="next" onclick="scrollToNextItem('#lightbox')">
      <span style="width:var(--step-1)" title="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
    </nav>
  </div>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/slider.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}

