{% extends "layouts/page.njk" %}

{% block head %}
 <script src="{{ '/js/lazysizes.min.js' | url }}"></script>
    {% set css %}
      {% include "css/lightbox.css" %}
    {% endset %}

    <style>
      {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
    {% include "js/lightbox.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
