{% extends "layouts/base.njk" %}

{% block head %}
    {% set css %}
      {% include "css/lightbox.css" %}
    {% endset %}

    <style>
      {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block foot %}
  {% include "lightbox.njk" %}
{% endblock %}
