{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
    {% include "css/lightbox.css" %}
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  <main>
  {{ super() }}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
    {% include "js/lightbox.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
