{% extends "layouts/base.njk" %}

{% block content %}
  <style>body,main{flex:1;display:flex;flex-direction:column;}.logo{width:20vmin;min-width:125px;margin:0 auto;}.site-menu{position:absolute;top:0;left:0;right:0;}</style>
  <main>
  <div class="cover" style="flex:1;">
    <figure class="background" style="--brightness:{{ header.brightness or '50' }}%">
      {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto:subject/" %}
      {% set header_image = (header.image | stripVersion) or (site.header_image | stripVersion) %}
      {% set src = site.cloudinary_url + "/w_900," + transforms + header_image %}
      {% set lqip_path = site.cloudinary_url + "/c_fill,w_64,h_64,f_jpg,g_auto:subject,e_blur:200/" + header_image %}
      <img srcset="
      {%- for size in image_sizes -%}
        {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ header_image }} {{ size }}w{{ ',' if not loop.last }}
      {%- endfor -%}
      " sizes="100vw" src="{{ src }}" style="background-image:url({{ lqip_path | lqip }})" alt="{{ header.alt or page_alt or site.alt }}" loading="eager" decoding="async" />
    </figure>
    <nav class="site-menu text-lowercase text-shadow font-secondary link-lighter">
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      {{ collections.all | eleventyNavigation("Flowers") | eleventyNavigationToHtml | safe }}
    </nav>
    <div class="centered">
      <figure class="logo">
        <a href="/">
          <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo" loading="eager" decoding="async" />
        </a>
      </figure>
      <div class="wrapper text-wrapper flow bigfonts font-secondary text-center text-shadow" style="--measure:60ch">
        <h1>{{ (header.title or title) | lower }}</h1>
        {% for section in page_sections %}
          {% if section.template == "text-section" %}
            <section>
              <article class="wrapper text-wrapper">
                {% markdown section.text %}
              </article>
            </section>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  </main>
{% endblock %}
