{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
  .cover {
    height: 100vh;
  }
  @supports (background: -webkit-named-image(i)) {
    .cover {
      height: -webkit-fill-available;
    }
  }
  .cover h1 {
    font-size: var(--step-4);
  }
  .cover p {
    font-size: var(--step-1);
    font-family: var(--font-family-secondary);
  }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/site-menu.njk" %}
  <main>
  <div class="cover" style="--min-height:100vh;position:relative">
    <figure class="background">
      {% respimg image | stripVersion, alt or site.alt, "100vw", "c_fill,ar_1,q_auto,f_auto,g_auto:subject", "darken" %}
    </figure>
    <div class="centered wrapper text-wrapper flow text-center text-shadow" style="--measure:60ch">
      <h1>{{ title | lower }}</h1>
      {% markdown text %}
    </div>
  </div>
  </main>
{% endblock %}
