{% extends "layouts/page.njk" %}

{% block content %}
  {% include "partials/site-menu.njk" %}
  {% include "partials/header.njk" %}
  <style>
    article h1, article h2, article h3 { text-transform: lowercase; color: var(--color-shade3); }
    article p { padding-left: 1em; }
  </style>
  <section>
  <article class="wrapper text-wrapper">
    {{ content | safe }}
  </article>
  </section>
{% include "partials/footer.njk" %}
{% endblock %}

