{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/site-menu.njk" %}
  {% include "partials/header.njk" %}
  <main>
  {{ super() }}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/site-menu.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
