{% extends "layouts/page.njk" %}
{% from "macros/page-sections.njk" import
  text_section,
  hero_section,
  split_image_text_section,
  gallery_section
with context %}

{% block content %}
  {% include "partials/site-menu.njk" %}
  {% include "partials/header.njk" %}
  <main>
  {% for section in page_sections %}
    {% if section.template == "text-section" %}
      {{ text_section(section.content) }}
    {% elif section.template == "hero-section" %}
      {{ hero_section(section.image, section.content) }}
    {% elif section.template == "split-image-text-section" %}
      {{ split_image_text_section(section.image, section.content, section.swap) }}
    {% elif section.template == "gallery-section" %}
      {{ gallery_section() }}
    {% endif %}
  {% endfor %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

