{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
  #reviews ul > * + * {
    margin-top: var(--step-4);
  }
  .review {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 500ms ease , opacity 500ms linear;
  }
  .review.hidden {
    transform: translateY(100px);
    opacity: 0;
  }
  .review-text::before {
    font-size: 4em;
    color: var(--color-shade3);
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -0.05em;
    position: relative;
    top: 0.5em;
  }
  .review-text::after {
    font-size: 4em;
    color: var(--color-shade3);
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0.05em;
    position: relative;
    top: 0.5em;
  }
  @media screen and (min-width: 450px) {
    .review.round-box {
      --box-padding: var(--step-3);
    }
  }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% set divider_sizes = [ 430, 294, 186, 179, 288 ] %}
  <section>
    <div class="horizontal center"><a href="{{ site.google_review }}" class="button" role="button" target="_blank" rel="noopener">Leave a Review</a></div>
    <div id="reviews" class="wrapper">
      <ul class="vertical center">
        {% for item in reviews | shuffle -%}
          <li class="review color-light bg-shade1 text-center round-box border-shade2 shadow">
            <div class="wrapper text-wrapper flow" style="--flow-space:var(--step-2)">
              <p class="review-text">{{ item.review }}</p>
              <p class="font-secondary color-shade3 text-right">{{ item.name }}</p>
            </div>
          </li>
          <figure style="width:100%;max-width:{{ divider_sizes[loop.index0 % 5] }}px;opacity:0.25">
            <img src="/images/floral-ornament-0{{ loop.index0 % 5 + 1 }}.svg" alt="floral ornament" loading="eager" />
          </figure>
        {% endfor -%}
      </ul>
    </div>
  </section>
  <p class="font-size--1 text-center" style="margin-bottom:2rem;opacity:0.5"><a href='https://www.freepik.com/vectors/flower'>Flower vectors created by freepik - www.freepik.com</a></p>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  const reviews = document.querySelectorAll(".review");
  const reviews_options = { root: null, threshold: 0.25, rootMargin: "0px" };
  const reviews_observer = new IntersectionObserver((entries, reviews_observer) => {
  entries.forEach(entry => {
  if(!entry.isIntersecting) {
  entry.target.classList.add("hidden");
  return;
  }
  entry.target.classList.remove("hidden");
  reviews_observer.unobserve(entry.target);
  });
  }, reviews_options);

  reviews.forEach(review => {
  reviews_observer.observe(review);
  });
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
