{% extends "layouts/page.njk" %}

{% block pre %}
<?php include $_SERVER['DOCUMENT_ROOT'] . '/php/shop-functions.php'; ?>
{% endblock %}

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/slider.css" %}
  {% include "css/gallery.css" %}
  {% endset %}

  <style>
{{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/slider.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
