{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/header.njk" %}
  {% include "partials/javascript-warning.njk" %}
  <main>
  {% include "partials/view-cart-button.njk" %}
  {% for category in valid_shop_categories %}
    {% set product_list = valid_shop_products | filterByCategory(category.name) %}
    {% set category_images = [] %}
    {% for product in product_list %}
      {% set category_images = category_images.concat(product.images) %}
    {% endfor %}
    {% set section = { images: (category_images | shuffle), text: '## ' + category.name + '\n' + category.description, button: { text: 'Shop ' + (category.name | lower), link: '/shop/categories/' + (category.name) | slug, new_page: false } } %}
    {# include "partials/checkerboard-section.njk" #}
    <div class="checkerboard">
      {% set section_images_count = section.images | length %}
      {% set anim_fade_time = 1.5 %}
      {% set anim_show_time = 5 %}
      {% set anim_duration = (anim_fade_time + anim_show_time) * section_images_count %}
      {% set one_second = 100.0 / anim_duration %}
      {% set section_name = 'fade-' + 8 | uniqueId %}
      {{ ( '<style>@keyframes ' + section_name + '{0%{opacity:0;}' + (anim_fade_time * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time) * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time + anim_fade_time) * one_second) + '%{opacity:0;}100%{opacity:0;}}</style>' ) | safe if section_images_count > 1 }}
      {% set image_id = (section.images | first | stripVersion) or (site.header_image | stripVersion) %}
      {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
      {% set lqip_data = lqip_path | imgLqip %}
      {% set section_delay = 0 * loop.index0 %}
      <div>
        <figure class="canvas {{ 'fader' if section_images_count > 1 }}" style="background-image:url({{ lqip_data }})">
          {% for section_image in section.images %}
            {% set anim_delay = (anim_fade_time + anim_show_time) * loop.index0 %}
            {% set image_id = (section_image | stripVersion) or (site.header_image | stripVersion) %}
            {% set image_info = image_id | imgInfo %}
            {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto:subject/" %}
            {% set src = site.cloudinary_url + "/w_900," + transforms + image_id %}
            <noscript><img class="cover" src="{{ src }}" alt="{{ image_info.context.alt or site.alt }}" style="{{ ('animation-delay:' + (section_delay + anim_delay) + 's;animation-name:' + section_name + ';animation-duration:' + anim_duration + 's') | safe if section_images_count > 1 }}" loading="lazy" decoding="async" /></noscript>
            {%- set srcset -%}
            {%- for size in image_sizes -%}
            {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ image_id }} {{ size }}w{{ ',' if not loop.last }}
            {%- endfor -%}
            {%- endset -%}
            <img class="cover" data-srcset="{{ srcset }}" sizes="(min-width: 1500px) and (orientation: landscape) 750px, (orientation: landscape) 50vw, 100vw" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ image_info.context.alt or site.alt }}" style="{{ ('animation-delay:' + (section_delay + anim_delay) + 's;animation-name:' + section_name + ';animation-duration:' + anim_duration + 's') | safe if section_images_count > 1 }}" loading="lazy" decoding="async" />
          {% endfor %}
        </figure>
      </div>
      <div class="content">
        <article class="text-center">
          {% markdown section.text %}
          {% if section.button.text %}
            <div class="text-center font-size-0"><a class="button" role="button" href="{{ section.button.link }}"{{ ' target="_blank" rel="noopener"' | safe if section.button.new_page }}>{{ section.button.text }}</a></div>
          {% endif %}
        </article>
      </div>
    </div>
  {% endfor %}
  <script>document.addEventListener("DOMContentLoaded",function(){displayShop();},false);</script>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/shop-base.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
