{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/slider.css" %}
  {% include "css/gallery.css" %}
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  {% include "partials/javascript-warning.njk" %}
  <main>
  {% include "partials/view-cart-button.njk" %}
  <section class="text-section bg-alt">
    <article class="wrapper text-wrapper text-center">
      {% markdown category.page_description %}
    </article>
  </section>
  <hr>
  {% set product_list = valid_shop_products | filterByCategory(category.name) %}
  {% asyncEach product in product_list %}
  {% set valid_variants = product.variants | validProductVariants %}
  {% if valid_variants | length %}
    {% if ( valid_variants | first ).price != ( valid_variants | last ).price %}
      {% set price = 'from ' + valid_variants[0].price | formatMoney %}
    {% else %}
      {% set price = product.price | formatMoney %}
    {% endif %}
  {% else %}
    {% set price = product.price | formatMoney %}
  {% endif %}
  {% set button_text = 'Buy Now' %}
  {% set section = { alternate_background_color: (loop.index0 % 2) == 1, images: (product.images | shuffle), text: '<h2>' + product.name + '</h2><h2 id="' + product.id + '" class="color-shade1 product-price" style="margin-top:0.3em">' + price + '</h2><p>' + product.description + '</p>', button: { text: (button_text | lower), link: ('/shop/products/' + (product.name) | slug) | url, new_page: false } } %}
  {% include "partials/checkerboard-section.njk" %}
  {% endeach %}

  {% set gallery_name = category.name %}
  {% set gallery_folder = category.gallery_folder %}
  {% include "partials/gallery-section.njk" %}

  <div class="bg-alt">
  {% include "partials/pagination.njk" %}
  </div>
  <hr><br>

  <script>document.addEventListener("DOMContentLoaded",function(){displayShopCategory();},false);</script>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/slider.js" %}
  {% include "js/shop-base.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
