{% extends "layouts/base.njk" %}
{% from "macros/page-sections.njk" import
  text_section,
  contact_form_section
with context %}

{% block head %}
  {{ super() }}

  {% set fade_in_time = 2 %}
  {% set visible_time = 4 %}
  {% set animation_duration = (fade_in_time + visible_time) * (images | length) %}
  {% set one_second = 100 / animation_duration %}

  {% set css %}
    {% include "css/form.css" %}

  @keyframes fade {
    0% { opacity: 0; }
    {{ fade_in_time * one_second}}% { opacity: 1; }
    {{ (fade_in_time + visible_time) * one_second }}% { opacity: 1; }
    {{ (fade_in_time + visible_time + fade_in_time) * one_second }}% { opacity: 0; }
    100% { opacity: 0; }
  }
  #split-landing {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
  }
  #split-landing .header {
    height: 75vh;
    background: var(--color-darker-grey);
    position: relative;
  }
  #split-landing .header .content {
    align-items: flex-start;
  }
  @media screen and (orientation: landscape) and (min-width:900px) {
    #split-landing {
      grid-template-columns: 1fr 1fr;
    }
    #split-landing .header {
      height: 100vh;
      position: sticky;
      top: 0;
    }
    @supports (background: -webkit-named-image(i)) {
      #split-landing .header {
        height: -webkit-fill-available;
      }
    }
    #split-landing.swap .header {
      order: 2;
    }
    #split-landing > div {
      padding: 0 1.5em;
    }
  }
  #split-landing .background { 
    opacity:0; 
    animation-name: fade; 
    animation-duration: {{ animation_duration }}s; 
    animation-iteration-count: infinite; 
  }
  {% for image in images %}
    #split-landing .background:nth-child({{ loop.index }}) { animation-delay: {{ (fade_in_time + visible_time) * loop.index0 }}s; }
  {% endfor %}
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  <main>
  <div id="split-landing" {{ ' class="swap"' | safe if swap }}>
    <header class="header">
      {% for image in images %}
        <figure class="background">
          {% respimg image, alt or site.alt, "(orientation: landscape) 50vw, 100vw", "c_fill,ar_1,q_auto,f_auto,g_auto:subject" %}
        </figure>
      {% endfor %}
      <div class="content">
        <figure class="logo">
          <a href="/">
            <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo">
          </a>
        </figure>
        <h1>{{ title | lower }}</h1>
      </div>
    </header>
    <div style="--section-padding: 2em">
		  {% for section in page_sections %}
		    {% if section.template == "text-section" %}
		      {{ text_section(section.text) }}
		    {% elif section.template == "contact-form-section" %}
		      {{ contact_form_section(section.heading, section.message, section.button, section.email_subject, section.email_heading) }}
		    {% endif %}
		  {% endfor %}
    </div>
  </div>
  </main>
{% endblock %}
