.bigfonts p { font-size: var(--step-1); }
.bigfonts span { font-size: var(--step-1); }
.bigfonts button { font-size: var(--step-1); }
.bigfonts h1 { font-size:var(--step-4); }
.bigfonts article h1 { font-size:var(--step-4); }
.bigfonts aside h1 { font-size:var(--step-4); }
.bigfonts nav h1 { font-size:var(--step-4); }
.bigfonts section h1 { font-size:var(--step-4); }
.bigfonts h2 { font-size: var(--step-3); }
.bigfonts h3 { font-size: var(--step-2); }
.bigfonts h4 { font-size: var(--step-1); }
