---
layout: layouts/php-page.njk
title: Cart
description: Your Floriade shopping cart
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
header:
  title: Your Cart
permalink: "cart/index.php"
---

<div class="stack">
    <?php if(isset($_SESSION["info"])) { ?>
    <p id="info"><?php echo $_SESSION["info"]; unset($_SESSION["info"]); ?></p>
    <?php } ?>
    <?php if(isset($_SESSION["error"])) { ?>
    <p id="error"><?php echo $_SESSION["error"]; unset($_SESSION["error"]); ?></p>
    <?php } ?>
</div>

<section id="cart" style="min-height:50vh">
  <div class="wrapper text-wrapper">
    <?php $cart_count = count($_SESSION["cart"]); ?>

    <?php if($cart_count < 0) { /* FIXME == 0 */ ?>
    <div class="center-both stack" style="--stack-space:2em">
      <h2 class="heading">Your Cart is Empty</h2>
      <div class="text-center">
        <a class="button text-lowercase" style="display:flex" href="/shop/">
          <span style="width:1em;height:1em;margin-right:0.5em">{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Continue Shopping</p>
        </a>
      </div>
    </div>
    <?php } else { ?>

    <form id="cart-form" action="/checkout/" method="post" class="flow" style="width:100%;--flow-space:2em">

      <hr />

      <div id="items" class="font-family-secondary" style="display:grid;grid-template-columns:1fr auto;grid-gap:1em;align-items:start">
        <?php $cart_total = 0; ?>
        <?php foreach($_SESSION["cart"] as $cart_item) {
          $item = $stockStore->findOneBy(["id", "=", $cart_item["id"]]);
          $product = getProduct($item["product"]);
          $price = getPrice($product, $item["variant"]);
          $cart_total += $price;
        ?>
        <p><?php echo $product["name"]; ?>
        <?php if(hasVariants($product)) {
           $variant = getVariant($product, $item["variant"]); ?>
           <br><span class="font-size--1"> ( <?php echo $variant["name"]; ?> )</span>
        <?php } ?>
        </p>
        <p class="text-right"><?php echo formatMoney($price); ?></p>
        <?php } ?>
      </div>

      <hr />

      <div id="summary" class="text-right font-family-secondary" style="display:grid;grid-template-columns:1fr auto auto;grid-gap:1em;align-items:start">
        <h3 class="heading">Cart Total</h3>
        <p><?php echo $cart_count; echo ($cart_count == 1) ? ' item' : ' items'; ?></p>
        <p><?php echo formatMoney($cart_total); ?></p>

        <h3 class="heading">Delivery To</h3>
        <select xrequired id="delivery-suburb" name="delivery-suburb" class="select-css"> {# FIXME xreq #}
          <option default disabled selected hidden value="">{{ 'Please Choose' | lower }}</option>
          {% for suburb, fee in delivery_fees %}
            <option value="{{ suburb | lower }}">{{ suburb | title }}&nbsp;</option>
          {% endfor %}
        </select>
        <?php $delivery_fee = 2500; ?>
        <noscript><p>TBC</p></noscript>
        <p class="req_js"><?php echo formatMoney($delivery_fee); ?></p>

        <h3 class="font-size-1 text-lowercase">TOTAL</h3>
        <p></p>
        <p class="font-size-1"><?php echo formatMoney($cart_total + $delivery_fee); ?></p>
      </div>

      <hr />

      <input id="return_url" name="return_url" type="hidden" value="{{ page.url | cleanUrl }}" style="margin:0">

      <div class="buttons swap">
        <a class="button icon-button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Continue Shopping</p>
        </a>
        <a class="button icon-button" href="/php/edit-cart.php">
          <span>{{ '/src/svg/edit.svg' | svgContents | safe }}</span><p>Edit Cart</p>
        </a>
        <button class="icon-button cursor-pointer bigfonts" type="submit">
          <span>{{ '/src/svg/shopping-cart.svg' | svgContents | safe }}</span><p>Checkout</p>
        </button>
      </div>
    </form>
    <?php } ?>
  </div>
</section>
