---
layout: layouts/shop-cart.njk
title: Cart
description: Your Floriade shopping cart
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
header_title: Your Cart
permalink: "cart/index.html"
sitemap:
  ignore: true
---

{% include "partials/javascript-warning.njk" %}

<div id="info" class="horizontal center" style="display:none;margin-top:calc(var(--section-padding)/2)">
    <p id="info-msg" class="info"></p>
</div>

<section id="cart" style="min-height:50vh">
  <div class="wrapper text-wrapper">
    <div id="empty-cart" class="vertical center middle flow" style="display:none;--flow-space:2em">
      <h2 class="heading">Your Cart is Empty</h2>
      <p id="cart-expired" class="font-secondary" style="display:none">Your session has timed out</p>
      <a class="button" href="/shop/">
        <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
      </a>
    </div>

    <div id="cart-form" class="flow width100" style="display:none;--flow-space:2em">
      <hr />
      <div id="items" class="font-secondary"></div>
      <hr />
      <div id="summary" class="font-secondary"></div>
      <hr />
      <p id="delivery-message" class="text-center text-lowercase font-secondary color-shade3">Delivery will be calculated at Checkout</p>

      <div class="buttons swap">
        <a class="button" role="button" href="/shop/" style="min-width:13rem">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
        </a>
        <a id="checkout-button" class="button bigfonts" role="button" href="/checkout/" style="min-width:13rem">
          <span>{{ '/src/svg/shopping-cart.svg' | svgContents | iconTextButton | safe }}</span><p>Checkout</p>
        </a>
      </div>
      <div class="horizontal center">
        <span id="error-msg" class="error" role="alert" style="visibility:hidden">&nbsp;</span>
      </div>
    </div>
  </div>
</section>

<script>document.addEventListener("DOMContentLoaded",function(){displayCart();},false);</script>
