---
layout: layouts/php-page.njk
title: Cart
description: Your Floriade shopping cart
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
header:
  title: Your Cart
permalink: "cart/index.php"
---

<style>
#items {
  display:grid;
  grid-template-columns:1fr auto;
  align-items:start;
}
#items > * {
  width:100%;
  height:100%;
  padding:0.5em;
}
#items > * + *, .top-border {
  border-top:1px solid rgba(255, 255, 255, 0.1);
}
#items > *:nth-child(2) {
  border-top:none;
}
#summary {
  display:grid;
  grid-template-columns:1fr auto auto;
  align-items:center;
}
#summary > *:not(select) {
  width:100%;
  height:100%;
  padding:0.5em;
}
</style>

<?php
  $timeout = microtime(true) - $cart_expiry_time;

  $cart_expired = false;

  foreach($_SESSION["cart"] as $cart_item) {
    if(isset($cart_item["stock-id"])) {
      $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
      if(($cart_item["updated"] < $timeout) || ($cart_item["updated"] < $stock_item["updated"])) {
        $cart_expired = true;
      }
    }
  }

  if($cart_expired) {
    foreach($_SESSION["cart"] as $cart_item) {
      if(isset($cart_item["stock-id"])) {
        $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
        if($cart_item["updated"] == $stock_item["updated"]) {
          $stock_item["updated"] = microtime(true) - $cart_reset_time;
          $stockStore->update($stock_item);
        }
      }
    }

    unset($_SESSION["cart"]);
    $_SESSION["cart"] = array();
    $_SESSION["error"] = "Your session has timed out";
  }
?>

<?php
  $i = 0;
  $count = 0;
  foreach($_SESSION["cart"] as $cart_item) {
    if(!cartHasParents($cart_item["product-id"])) {
      if(isset($cart_item["stock-id"])) {
        $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
        if($cart_item["updated"] == $stock_item["updated"]) {
          $stock_item["updated"] = microtime(true) - $cart_reset_time;
          $stockStore->update($stock_item);
        }
      }
      array_splice($_SESSION["cart"], $i, 1);
      $count++;
    } else {
      $i++;
    }
  }

  if($count) {
    $_SESSION["error"] = (($count > 1) ? ($count . " add-on items were") : "1 add-on item was") . " removed from your cart";
  }
?>

<div class="stack">
    <?php if(isset($_SESSION["info"])) { ?>
    <p id="info"><?php echo $_SESSION["info"]; unset($_SESSION["info"]); ?></p>
    <?php } ?>
    <?php if(isset($_SESSION["error"])) { ?>
    <p id="error"><?php echo $_SESSION["error"]; unset($_SESSION["error"]); ?></p>
    <?php } ?>
</div>

<section id="cart" style="min-height:50vh">
  <div class="wrapper text-wrapper">
    <?php $cart_count = count($_SESSION["cart"]); ?>
    <?php $cart_total = 0; ?>
    <?php $delivery_fee = 0; ?>

    <?php if($cart_count == 0) { ?>
    <div class="center-both stack" style="--stack-space:2em">
      <h2 class="heading">Your Cart is Empty</h2>
      <div class="text-center">
        <a class="button icon-button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Continue Shopping</p>
        </a>
      </div>
    </div>
    <?php } else { ?>

    <form id="cart-form" action="/checkout/" method="post" class="flow" style="width:100%;--flow-space:2em">

      <hr />

      <div id="items" class="font-family-secondary">
        <?php $i = 0; ?>
        <?php foreach($_SESSION["cart"] as $cart_item) {
          $product = getProduct($cart_item["product-id"]);
          $price = getPrice($product, $cart_item["variant-id"]);
          $cart_total += $price;
        ?>
        <div class="stack">
          <p><?php echo $product["name"]; ?></p>
          <?php if(hasVariants($product)) {
            $variant = getVariant($product, $cart_item["variant-id"]); ?>
            <p class="font-size--1"> ( <?php echo $variant["name"]; ?> )</p>
          <?php } ?>
          <div class="font-size--1" style="display:flex;justify-content:flex-end">
          <a class="icon-button" href="/php/remove-from-cart.php?i=<?php echo $i; ?>">
            <span>{{ '/src/svg/trash-o.svg' | svgContents | safe }}</span><p class="text-lowercase">Remove</p>
          </a>
          {#
          <a class="icon-button" style="margin-left:2em" href="/php/edit-message.php?i=<?php echo $i; ?>">
            <span>{{ '/src/svg/edit.svg' | svgContents | safe }}</span><p class="text-lowercase">Add Message</p>
          </a>
          #}
        </div>
        </div>
        <p class="text-right"><?php echo formatMoney($price); ?></p>
        <?php $i++; ?>
        <?php } ?>
      </div>

      <hr />

      <div id="summary" class="text-right font-family-secondary">
        <h3 class="heading">Cart Total</h3>
        <p><?php echo $cart_count; echo ($cart_count == 1) ? ' item' : ' items'; ?></p>
        <p><?php echo formatMoney($cart_total); ?></p>

        <?php if(cartHasDelivery()) { ?>

        <h3 class="heading">Delivery To</h3>
        <select id="delivery-suburb" name="delivery-suburb" class="select-css" onchange="updateDeliveryFee()">
          <option default disabled selected hidden value="">{{ 'Please Choose' | lower }}</option>
          {% for suburb, fee in delivery_fees %}
            <option value="{{ suburb | lower }}" <?php if(isset($_SESSION["delivery-suburb"]) && ($_SESSION["delivery-suburb"] == "{{ suburb | lower }}")) { echo ' selected'; } ?> >{{ suburb | title }}&nbsp;</option>
          {% endfor %}
        </select>
        <?php if(isset($_SESSION["delivery-suburb"])) { $delivery_fee = $delivery_fees[$_SESSION["delivery-suburb"]] * 100; } ?>
        <p id="delivery-fee"><?php if(isset($_SESSION["delivery-suburb"])) { echo formatMoney($delivery_fee); } else { echo "TBC"; } ?></p>

        <?php } else { ?>
        <input id="delivery-suburb" name="delivery-suburb" type="hidden" value="none">
        <?php } ?>

        <h3 class="top-border font-size-1 text-lowercase">TOTAL</h3>
        <p class="top-border"></p>
        <p id="total" class="top-border font-size-1"><?php echo formatMoney($delivery_fee + $cart_total); ?></p>
      </div>

      <hr />

      <input id="return-url" name="return-url" type="hidden" value="{{ page.url | cleanUrl }}" style="margin:0">

      <div class="buttons swap">
        <a class="button icon-button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Continue Shopping</p>
        </a>
        <button class="icon-button cursor-pointer bigfonts" type="submit">
          <span>{{ '/src/svg/shopping-cart.svg' | svgContents | safe }}</span><p>Checkout</p>
        </button>
      </div>
    </form>
    <?php } ?>
  </div>
</section>

<p id="test"></p>

<script>
var delivery_fees = <?php echo(json_encode($delivery_fees)); ?>

function formatMoney(cents) {
  if(cents == 0) { return 'free'; }
  if(Math.floor(cents / 100.0) == (cents / 100.0)) {
    return '$' + (cents / 100.0);
  } else {
    return '$' + (cents / 100.0).toFixed(2);
  }
}

function updateDeliveryFee() {
  var suburb = document.getElementById("delivery-suburb").value;

  var delivery_fee = delivery_fees[suburb] * 100;
  var cart_total = <?php echo $cart_total; ?>;

  document.getElementById("delivery-fee").innerHTML = formatMoney(delivery_fee);
  document.getElementById("total").innerHTML = formatMoney(delivery_fee + cart_total);
}
</script>
