---
layout: layouts/shop-checkout.njk
title: Checkout
description: Floriade Checkout
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
header:
  title: Floriade Checkout
permalink: "checkout/index.html"
sitemap:
  ignore: true
---

{% include "partials/javascript-warning.njk" %}

<section id="checkout" style="min-height:50vh">
  <div class="wrapper text-wrapper">

    <div id="empty-cart" class="vertical center middle flow" style="display:none;--flow-space:2em">
      <h2 class="heading">Your Cart is Empty</h2>
      <p id="cart-expired" class="font-secondary" style="display:none">Your session has timed out</p>
      <div class="text-center">
        <a class="button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
        </a>
      </div>
    </div>

    <form id="checkout-form" action="/php/place-order.php" method="post" class="width100" style="display:none">
      <h2 class="heading text-center">Order Summary</h2>
      <hr />
      <div id="items" class="font-secondary"></div>
      <hr />
      <div id="summary" class="font-secondary"></div>
      <hr />

      <h2 class="delivery-group heading text-center" style="display:none">Delivery</h2>
      <hr class="delivery-group" style="display:none" />
      <div class="delivery-group flow" style="display:none">
        <div>
          <label for="delivery-name"><h4 class="heading">Recipient Name</h4></label>
          <input class="delivery-group input" style="display:none" id="delivery-name" name="delivery-name" type="text" autocomplete="name" data-error="Recipient Name is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">Name of the person receiving the flowers</p>
        </div>

        <div>
          <label for="delivery-phone"><h4 class="heading">Recipient Phone</h4></label>
          <input class="delivery-group input" style="display:none" id="delivery-phone" name="delivery-phone" type="tel" autocomplete="tel" inputmode="tel" data-error="Recipient Phone is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">In case need to contact the recipient to make alternative delivery arrangements</p>
        </div>

        <div class="delivery-address-group" style="display:none">
          <label for="delivery-address"><h4 class="heading">Delivery Address</h4></label>
          <input class="delivery-address-group input" style="display:none" id="delivery-address" name="delivery-address" type="text" autocomplete="address-line1" data-error="Delivery Address is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">Street address for delivery</p>
        </div>

        <div class="delivery-address-group" style="display:none">
          <label for="delivery-suburb"><h4 class="heading">Delivery Suburb</h4></label>
          <input class="delivery-address-group input" style="display:none" id="delivery-suburb" name="delivery-suburb" type="text" readonly onfocus="hideError()">
        </div>

        <div class="delivery-group">
          <label for="delivery-date"><h4 class="heading">Delivery Date</h4></label>
          <div class="select">
            <select id="delivery-date" name="delivery-date" style="display:none" data-error="Delivery Date is required" onfocus="hideError()" onblur="cacheValue(this)">
              <option default disabled selected hidden value="">please choose...</option>
              {% set today = now_nz %}
              {% set days = [ today, today.plus({days:1}), today.plus({days:2}), today.plus({days:3}), today.plus({days:4}), today.plus({days:5}), today.plus({days:6}), today.plus({days:7}), today.plus({days:8}), today.plus({days:9}), today.plus({days:10}), today.plus({days:11}), today.plus({days:12}), today.plus({days:13}) ] %}
              {% for day in days -%}
                {% set invalid = (day | readableDate in non_delivery_dates) or (day.weekday == 7) %}
                <option {{ 'id="today"' | safe if day == today }} {{ ' disabled' if invalid }} value="{{ day.weekdayLong }} {{ day | readableDate }}">{{ day.weekdayLong }} {{ day | readableDate }}{{ ' (today)' if day == today }}</option>
                {%- endfor %}
            </select>
            <span class="focus"></span>
          </div>
          <p class="caption text-left text-lowercase">Orders must be made by 10am for same day delivery</p>
        </div>
      </div>
      <p class="delivery-group font-size-1" style="display:none"></p>
      <hr class="delivery-group" style="display:none" />

      <h2 class="heading text-center">Payment</h2>
      <hr />

      <div class="flow">
        <div>
          <label for="cardholder-name"><h4 class="heading">Cardholder Name</h4></label>
          <input class="input" id="cardholder-name" name="cardholder-name" type="text" autocomplete="name" data-error="Cardholder Name is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">Name as it appears on your credit card</p>
        </div>

        <div>
          <label for="cardholder-email"><h4 class="heading">Cardholder Email</h4></label>
          <input class="input" id="cardholder-email" name="cardholder-email" type="email" autocomplete="email" inputmode="email" data-error="Cardholder Email is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">We will send your receipt to this address</p>
        </div>

        <div>
          <label for="card-input"><h4 class="heading">Credit Card</h4></label>
          <div id="card-input" class="input" onfocus="hideError()"></div>
        </div>
      </div>

      <hr />

      <div class="text-center font-secondary">
        <p>All prices are in New Zealand dollars <span style="white-space:nowrap">and include GST.</span></p>
        <p>By using this form you agree to our <a href="/terms-and-conditions/" target="_blank" title="Opens in a new page"><span style="white-space:nowrap">Terms and Conditions</span></a>.</p>
      </div>

      <div class="buttons swap">
        <a class="button" href="/cart/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Return to Cart</p>
        </a>
        <button id="place-order-button" disabled class="button cursor-pointer bigfonts" type="submit">
          <span id="cart-icon">{{ '/src/svg/shopping-cart.svg' | svgContents | iconTextButton | safe }}</span>
          <span id="spinner-icon" style="display:none">{{ '/src/svg/spinner.svg' | svgContents | iconTextButton | safe }}</span>
          <p id="submit-text">Order Now</p>
        </button>
      </div>
      <div class="horizontal center">
        <span id="error-msg" class="error" role="alert" style="visibility:hidden">&nbsp;</span>
      </div>

      <div class="text-center font-size--1 font-secondary">
        <p>Floriade does not store your credit card details.</p>
        <p>All credit card transactions are secured by <a href="https://stripe.com" target="_blank" title="Opens in a new page">Stripe</a>.</p>
        <p>See their <a href="https://stripe.com/docs/security/stripe" target="_blank" title="Opens in a new page">security</a> and <a href="https://stripe.com/nz/privacy/" target="_blank" title="Opens in a new page">privacy</a> policies for details.</p>
      </div>

      <input id="payment-intent-id" name="payment-intent-id" type="hidden">
      <input id="cart" name="cart" type="hidden">
    </form>

  </div>
</section>

<script>document.addEventListener("DOMContentLoaded",function(){displayCheckout();},false);</script>
