---
layout: layouts/shop-checkout.njk
title: Checkout
description: Floriade Checkout
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
header:
  title: Floriade Checkout
permalink: "checkout/index.html"
sitemap:
  ignore: true
---

{% include "partials/javascript-warning.njk" %}

<section id="checkout" style="min-height:50vh">
  <div class="wrapper text-wrapper">

    <div id="empty-cart" class="vertical center middle flow" style="display:none;--flow-space:2em">
      <h2 class="heading">Your Cart is Empty</h2>
      <p id="cart-expired" class="font-secondary" style="display:none">Your session has timed out</p>
      <a class="button" href="/shop/">
        <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
      </a>
    </div>

    <form id="checkout-form" action="/php/place-order.php" method="post" class="width100" style="display:none">

      <h2 class="delivery-group heading text-center">Delivery</h2>
      <hr class="delivery-group" />
      <div class="delivery-group flow">

        <div class="radio-label-wrapper">
          <input checked id="delivery-option-none" name="delivery-option" type="radio" value="none" style="display:none">
          <input class="delivery-group" id="delivery-option-delivery" name="delivery-option" type="radio" value="delivery" onclick="selectDeliveryOption('delivery')">
          <label class="radio-label text-center round" for="delivery-option-delivery" style="min-width:10em" x-apple-data-detectors="false">Delivery</label>
          <input class="delivery-group" id="delivery-option-pickup" name="delivery-option" type="radio" value="pickup" onclick="selectDeliveryOption('pickup')">
          <label class="radio-label text-center round" for="delivery-option-pickup" style="min-width:10em" x-apple-data-detectors="false">Pickup in Store</label>
        </div>

        <div>
          <label for="delivery-name"><h4 class="heading">Recipient Name</h4></label>
          <input class="delivery-group input" id="delivery-name" name="delivery-name" type="text" autocomplete="name" data-error="Recipient Name is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">Name of the person receiving the flowers</p>
        </div>

        <div class="delivery-address-group">
          <label for="delivery-phone"><h4 id="delivery-phone-label" class="heading">Recipient Phone</h4></label>
          <input class="delivery-address-group input" id="delivery-phone" name="delivery-phone" type="tel" autocomplete="tel" inputmode="tel" data-error="Recipient Phone is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p id="delivery-phone-caption" class="caption text-left text-lowercase">In case we need to contact the recipient to make alternative delivery arrangements</p>
        </div>

        <div class="delivery-address-group">
          <label for="delivery-address"><h4 class="heading">Delivery Address</h4></label>
          <input class="delivery-address-group input" id="delivery-address" name="delivery-address" type="text" autocomplete="address-line1" data-error="Delivery Address is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">Street address for delivery</p>
        </div>

        <div class="delivery-address-group">
          <label for="delivery-suburb-select"><h4 class="heading">Delivery Suburb</h4></label>
          <div class="select" id="delivery-suburb-select">
            <select id="delivery-suburb" class="delivery-address-group" name="delivery-suburb" data-error="Delivery Suburb is required" onfocus="hideError()" onblur="cacheValue(this)" onchange="updateTotal()">
              <option default disabled selected hidden value="">please choose...</option>
              {% for suburb, fee in delivery_fees -%}
                {% if suburb != "pickup in store" %}
                  <option value="{{ suburb }}">{{ suburb | title }}&nbsp;</option>
                {% endif %}
              {%- endfor %}
            </select>
            <span class="focus"></span>
          </div>
        </div>

        <div>
          <label for="delivery-date-select"><h4 id="delivery-date-label" class="heading">Delivery Date</h4></label>
          <div class="select" id="delivery-date-select">
            <select id="delivery-date" class="delivery-group" name="delivery-date" data-error="Delivery / Pickup Date is required" onfocus="hideError()" onblur="cacheValue(this)" onchange="updateTotal()">
              <option default disabled selected hidden value="">please choose...</option>
              {% set today = now_nz %}
              {% set days = [ today, today.plus({days:1}), today.plus({days:2}), today.plus({days:3}), today.plus({days:4}), today.plus({days:5}), today.plus({days:6}), today.plus({days:7}), today.plus({days:8}), today.plus({days:9}), today.plus({days:10}), today.plus({days:11}), today.plus({days:12}), today.plus({days:13}) ] %}
              {% for day in days -%}
                {# set invalid = ((day | readableDate in non_delivery_dates) or (day.weekday == 1) or (day.weekday == 7)) and (day | readableDate not in special_delivery_dates) #}
                <option {{ 'id="today"' | safe if day == today }} class="delivery-date-option" value="{{ day.weekdayLong }} {{ day | readableDate }}">{{ day.weekdayLong }} {{ day | readableDate }}{{ ' (today)' if day == today }}</option>
                {%- endfor %}
            </select>
            <span class="focus"></span>
          </div>
          <p id="delivery-date-caption" class="caption text-left text-lowercase">Orders must be received by 10am for same day delivery</p>
        </div>
      </div>
      <p class="delivery-group font-size-1"></p>
      <hr class="delivery-group" />

      <h2 class="delivery-group heading text-center">Gift tag Message</h2>
      <hr class="delivery-group" />
      <div class="delivery-group">
        {# <label for="gift-tag-message"><h4 class="heading">Gift tag Message</h4></label> #}
        <textarea class="delivery-group input" id="gift-tag-message" name="gift-tag-message" placeholder="If you would like to send the recipient a message along with the flowers, please enter it here." rows="10" onfocus="hideError()" onblur="cacheValue(this)"></textarea>
      </div>
      <p class="delivery-group font-size-1"></p>
      <hr class="delivery-group" />

      <h2 class="delivery-group heading text-center">Special Requests</h2>
      <hr class="delivery-group" />
      <div class="delivery-group">
        {# <label for="special-requests"><h4 class="heading">Special Requests</h4></label> #}
        <textarea class="delivery-group input" id="special-requests" name="special-requests" placeholder="Please enter any special delivery instructions. If you would like to request a specific variety or colour of flowers, please give at least 48 hours notice. We cannot guarantee all floral varieties or colours due to seasonal availability and demand. We will let you know if we are unable to supply your request." rows="10" onfocus="hideError()" onblur="cacheValue(this)"></textarea>
      </div>
      <p class="delivery-group font-size-1"></p>
      <hr class="delivery-group" />

      <h2 class="heading text-center">Order Summary</h2>
      <hr />
      <div id="items" class="font-secondary"></div>
      <hr />
      <div id="summary" class="font-secondary">
        <h3 class="heading">Cart Total</h3>
        <p id="cart-count" class="color-shade3" style="padding-left:2em"></p>
        <p id="cart-total" class="text-right"></p>

        <h3 id="delivery-heading" class="delivery-group heading">Delivery</h3>
        <h3 id="delivery-suburb-name" class="delivery-group heading"></h3>
        <p id="delivery-total" class="delivery-group text-right">TBC</p>

        <h3 class="top-border font-size-1 text-lowercase">TOTAL</h3>
        <p class="top-border"></p>
        <p id="total" class="top-border font-size-1 text-right">TBC</p>
      </div>
      <hr />

      <h2 class="heading text-center">Payment</h2>
      <hr />

      <div class="flow">
        <div>
          <label for="cardholder-name"><h4 class="heading">Cardholder Name</h4></label>
          <input class="input" id="cardholder-name" name="cardholder-name" type="text" autocomplete="name" data-error="Cardholder Name is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">Name as it appears on your credit card</p>
        </div>

        <div>
          <label for="cardholder-email"><h4 class="heading">Cardholder Email</h4></label>
          <input class="input" id="cardholder-email" name="cardholder-email" type="email" autocomplete="email" inputmode="email" data-error="Cardholder Email is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">We will send your receipt to this address</p>
        </div>

        <div>
          <label for="cardholder-phone"><h4 class="heading">Cardholder Phone</h4></label>
          <input class="input" id="cardholder-phone" name="cardholder-phone" type="tel" autocomplete="tel" inputmode="tel" data-error="Cardholder Phone is required" onfocus="hideError()" onblur="cacheValue(this)">
          <p class="caption text-left text-lowercase">In case we need to contact you regarding your order</p>
        </div>

        <div>
          <label for="card-input"><h4 class="heading">Credit Card</h4></label>
          <div id="card-input" class="input" onfocus="hideError()"></div>
        </div>
      </div>

      <hr />

      <div class="text-center font-secondary">
        <p>All prices are in New Zealand dollars <span style="white-space:nowrap">and include GST.</span></p>
        <p>By using this form you agree to our <a href="/terms-and-conditions/" target="_blank" title="Opens in a new page"><span style="white-space:nowrap">Terms and Conditions</span></a>.</p>
      </div>

      <div class="buttons swap">
        <a class="button" href="/cart/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Return to Cart</p>
        </a>
        <button id="place-order-button" disabled class="button bigfonts" type="submit">
          <span id="cart-icon">{{ '/src/svg/shopping-cart.svg' | svgContents | iconTextButton | safe }}</span>
          <span id="spinner-icon" style="margin-right:0.5em;display:none">{{ '/src/svg/spinner.svg' | svgContents | iconTextButton | safe }}</span>
          <p id="submit-text">Order Now</p>
        </button>
      </div>
      <div class="horizontal center">
        <span id="error-msg" class="error" role="alert" style="visibility:hidden">&nbsp;</span>
      </div>

      <div class="text-center font-size--1 font-secondary">
        <p>Floriade does not store your credit card details.</p>
        <p>All credit card transactions are secured by <a href="https://stripe.com" target="_blank" title="Opens in a new page">Stripe</a>.</p>
        <p>See their <a href="https://stripe.com/docs/security/stripe" target="_blank" title="Opens in a new page">security</a> and <a href="https://stripe.com/nz/privacy/" target="_blank" title="Opens in a new page">privacy</a> policies for details.</p>
      </div>

      <input id="payment-intent-id" name="payment-intent-id" type="hidden">
      <input id="card-brand" name="card-brand" type="hidden">
      <input id="card-month" name="card-month" type="hidden">
      <input id="card-year" name="card-year" type="hidden">
      <input id="card-last4" name="card-last4" type="hidden">
      <input id="cart-total-check" name="cart-total-check" type="hidden">
      <input id="delivery-total-check" name="delivery-total-check" type="hidden">
      <input id="cart" name="cart" type="hidden">
    </form>

  </div>
</section>

<script>document.addEventListener("DOMContentLoaded",function(){displayCheckout();},false);</script>
