---
layout: layouts/checkout.njk
title: Checkout
description: Floriade Checkout
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
header:
  title: Floriade Checkout
permalink: "checkout/index.php"
---

<style>
#items {
  display:grid;
  grid-template-columns:1fr auto;
  align-items:start;
}
#items > * {
  width:100%;
  height:100%;
  padding:0.5em;
}
#items > * + *, .top-border {
  border-top:1px solid rgba(255, 255, 255, 0.1);
}
#items > *:nth-child(2) {
  border-top:none;
}
#summary {
  display:grid;
  grid-template-columns:1fr auto auto;
  align-items:center;
}
#summary > *:not(select) {
  width:100%;
  height:100%;
  padding:0.5em;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#spinner-icon {
  animation: spin 1.5s linear infinite;
}
</style>

<noscript>
<aside class="banner-error">
Javascript is currently disabled in your web browser. The online shop cannot function properly unless Javascript is enabled. Learn how to <a target="_blank" title="Opens in a new page" href="http://www.enable-javascript.com/" style="text-decoration:underline">enable Javascript</a> in your web browser.
</aside>
</noscript>

<div class="stack">
  <?php if(isset($_SESSION["info"])) { ?>
  <p class="info"><?php echo $_SESSION["info"]; unset($_SESSION["info"]); ?></p>
  <?php } ?>
  <?php if(isset($_SESSION["error"])) { ?>
  <p class="error"><?php echo $_SESSION["error"]; unset($_SESSION["error"]); ?></p>
  <?php } ?>
</div>

<section id="checkout" style="min-height:50vh">
  <div class="wrapper text-wrapper">
    <?php $cart_count = count($_SESSION["cart"]); ?>
    <?php $cart_total = 0; ?>
    <?php $delivery_fee = 0; ?>

    <?php if($cart_count == 0) { ?>
    <div class="center-both stack" style="--stack-space:2em">
      <h2 class="heading">Your Cart is Empty</h2>
      <div class="text-center">
        <a class="button icon-button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Continue Shopping</p>
        </a>
      </div>
    </div>
    <?php } else { ?>

    <noscript>
      <div class="center-both stack text-center" style="--stack-space:2em">
        <h2 class="heading">Javascript is Required</h2>
        <p>Javascript is currently disabled in your web browser.</p>
        <p>This page cannot function properly unless Javascript is enabled.</p>
        <p>Learn how to <a target="_blank" title="Opens in a new page" href="http://www.enable-javascript.com/">enable Javascript</a> in your web browser.</p>
      </div>
    </noscript>

    <form id="checkout-form" action="/php/place-order.php" method="post" class="req-js flow" style="width:100%;--flow-space:2em">

      <h2 class="heading text-center">Order Summary</h2>
      <hr />

      <div id="items" class="font-secondary">
        <?php $i = 0; ?>
        <?php foreach($_SESSION["cart"] as $cart_item) {
          $product = getProduct($cart_item["product-id"]);
          $price = getPrice($product, $cart_item["variant-id"]);
          $cart_total += $price;
        ?>
          <div class="stack" style="--stack-space:1em">
            <p><?php echo $product["name"]; ?>
            <?php if(hasVariants($product)) {
              $variant = getVariant($product, $cart_item["variant-id"]); ?>
              <span class="font-size--1" style="white-space:nowrap"> ( <?php echo $variant["name"]; ?> )</span>
            <?php } ?>
            </p>
            <?php if(strtolower($product["category"]) == "workshops") { ?>
              <div>
                <label for="ws-name-<?php echo $i; ?>"><h4 class="heading">Name</h4></label>
                <input required class="input" style="width:100%" id="ws-name-<?php echo $i; ?>" name="workshop-attendee-name[<?php echo $cart_item['cart-id']; ?>]" type="text" autocomplete="name" placeholder="Name of the person attending">
              </div>
              <div>
                <label for="ws-email-<?php echo $i; ?>"><h4 class="heading">Email</h4></label>
                <input required class="input" style="width:100%" id="ws-email-<?php echo $i; ?>" name="workshop-attendee-email[<?php echo $cart_item['cart-id']; ?>]" type="email" autocomplete="email" inputmode="email" placeholder="Email of the person attending">
                <p class="caption text-left text-lowercase">We will send a sign-up confirmation email to this address</p>
              </div>
            <?php } ?>
          </div>
          <p class="text-right"><?php echo formatMoney($price); ?></p>
        <?php $i++; ?>
        <?php } ?>
      </div>

      <hr />

      <div id="summary" class="text-right font-secondary">
        <h3 class="heading text-left">Cart Total</h3>
        <p><?php echo $cart_count; echo ($cart_count == 1) ? ' item' : ' items'; ?></p>
        <p><?php echo formatMoney($cart_total); ?></p>

        <?php if(cartHasDelivery()) { ?>

        <h3 class="heading text-left" style="grid-column:1/span 2"><?php if(($delivery_suburb != "none") && ($delivery_suburb != "pickup in store")) { echo 'Delivery to '; } ?><span style="white-space:nowrap"><?php echo $delivery_suburb; ?><span></h3>
        <?php if($delivery_suburb != "none") { $delivery_fee = $delivery_fees[$delivery_suburb] * 100; } ?>
        <p id="delivery-fee"><?php if($delivery_suburb != "none") { echo formatMoney($delivery_fee); } else { echo "TBC"; } ?></p>

        <?php } else { ?>
        <input id="delivery-suburb" name="delivery-suburb" type="hidden" value="none">
        <?php } ?>

        <h3 class="top-border font-size-1 text-lowercase text-left">TOTAL</h3>
        <p class="top-border"></p>
        <p id="total" class="top-border font-size-1"><?php echo formatMoney($delivery_fee + $cart_total); ?></p>
      </div>

      <hr />

      <?php if(cartHasDelivery()) { ?>

      <h2 class="heading text-center">Delivery</h2>
      <hr />

      <div class="stack" style="--stack-space:1em">
        <div>
          <label for="delivery-name"><h4 class="heading">Delivery Name</h4></label>
          <input required class="input" style="width:100%" id="delivery-name" name="delivery-name" type="text" autocomplete="name" placeholder="Recipient Name">
        </div>

        <div>
          <label for="delivery-phone"><h4 class="heading">Delivery Phone</h4></label>
          <input required class="input" style="width:100%" id="delivery-phone" name="delivery-phone" type="tel" autocomplete="tel" inputmode="tel" placeholder="Recipient Phone number">
          <p class="caption text-left text-lowercase">In case we are unable to deliver your order & need to contact the recipient</p>
        </div>

        <?php $now = new DateTime; $ten_am = (new DateTime)->setTime(10, 0); ?>
        <div>
          <label for="delivery-date"><h4 class="heading">Delivery Date</h4></label>
				  <select required class="select-css" id="delivery-date" name="delivery-date">
				    <option default disabled selected hidden value="">Please choose...</option>
				    {% set today = now_nz %}
				    {% set days = [ today, today.plus({days:1}), today.plus({days:2}), today.plus({days:3}), today.plus({days:4}), today.plus({days:5}), today.plus({days:6}), today.plus({days:7}), today.plus({days:8}), today.plus({days:9}), today.plus({days:10}), today.plus({days:11}), today.plus({days:12}), today.plus({days:13}) ] %}
				    {% for day in days -%}
				      {% set invalid = (day | readableDate in non_delivery_dates) or (day.weekday == 7) %}
              <option {{ "disabled" if invalid }} <?php if(($now > $ten_am) && ((new DateTime("{{ day }}"))->setTime(0, 0) == (new DateTime("{{ today }}"))->setTime(0, 0))) { echo " disabled"; } ?> value="{{ day.weekdayLong }} {{ day | readableDate }}">{{ day.weekdayLong }} {{ day | readableDate }}{{ " (today)" if day == today }}</option>
				    {%- endfor %}
				  </select>
        </div>
      </div>

      <hr />

      <?php } ?>

      <h2 class="heading text-center">Payment</h2>
      <hr />

      <div class="stack" style="--stack-space:1em">
        <div>
          <label for="cardholder-name"><h4 class="heading">Name on Credit Card</h4></label>
          <input required class="input" style="width:100%" id="cardholder-name" name="cardholder-name" type="text" autocomplete="name" placeholder="Cardholder Name">
        </div>

        <div>
          <label for="cardholder-email"><h4 class="heading">Email</h4></label>
          <input required class="input" style="width:100%" id="cardholder-email" name="cardholder-email" type="email" autocomplete="email" inputmode="email" placeholder="Cardholder Email">
          <p class="caption text-left text-lowercase">We will send your receipt to this address</p>
        </div>

        <div>
          <label for="card-input"><h4 class="heading">Credit Card</h4></label>
          <div id="card-input" class="input"></div>
        </div>

        <p id="card-errors" class="error" role="alert" style="visibility:hidden">&nbsp;</p>
      </div>

      <hr />

      <input id="return-url" name="return-url" type="hidden" value="{{ page.url | cleanUrl }}" style="margin:0">

      <div class="text-center font-secondary">
        <p>All prices are in New Zealand dollars <span style="white-space:nowrap">and include GST.</span></p>
        <p>By using this form you agree to our <a href="/terms-and-conditions/" target="_blank" title="Opens in a new page"><span style="white-space:nowrap">Terms and Conditions</span></a>.</p>
      </div>

      <div class="buttons swap">
        <a class="button icon-button" href="/cart/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Return to Cart</p>
        </a>
        <button class="icon-button cursor-pointer bigfonts" type="submit">
          <span id="cart-icon">{{ '/src/svg/shopping-cart.svg' | svgContents | safe }}</span>
          <span id="spinner-icon" style="display:none">{{ '/src/svg/spinner.svg' | svgContents | safe }}</span>
          <p id="submit-text">Order Now</p>
        </button>
      </div>

      <div class="text-center font-size--1 font-secondary">
        <p>Floriade does not store your credit card details.</p>
        <p>All credit card transactions are secured by <a href="https://stripe.com" target="_blank" title="Opens in a new page">Stripe</a>.</p>
        <p>See their <a href="https://stripe.com/docs/security/stripe" target="_blank" title="Opens in a new page">security</a> and <a href="https://stripe.com/nz/privacy/" target="_blank" title="Opens in a new page">privacy</a> policies for details.</p>
      </div>

    </form>
    <?php } ?>

  </div>
</section>
