---
title: FAQ
header:
  title: Frequently Asked Questions
  image: fresh-flowers/fresh-flowers-by-floriade-00029
layout: layouts/faq.njk
eleventyNavigation:
  key: FAQ
  order: 50
---

<section class="wrapper">
  <ul class="faq stack center" style="--stack-space:var(--step-4)">
    {% for item in faq -%}
        <li class="color-light bg-shade1 text-center flow round-box wrapper text-wrapper border-shade2 shadow">
            <input id="faq_{{ loop.index }}" type="checkbox" class="visually-hidden">
            <h3><label for="faq_{{ loop.index }}">{{ item.question }}</label></h3>
            <p>{{ item.answer }}</p>
        </li>
      {% endfor -%}
  </ul>
</section>
