---
title: FAQ
header_image: fresh-flowers/fresh-flowers-by-floriade-00029
header:
  title: Frequently Asked Questions
layout: layouts/faq.njk
eleventyNavigation:
  key: FAQ
  order: 50
---

<section>
  <div class="wrapper">
    <ul class="faq vertical flow center" style="--flow-space:var(--step-2)">
      {% for item in faq -%}
        <li class="round-box color-light border-shade2 bg-shade1 text-center wrapper text-wrapper shadow">
          <input id="faq_{{ loop.index }}" type="checkbox">
          <h3 class="heading"><label for="faq_{{ loop.index }}">{{ item.question }}</label></h3>
          <p>{{ item.answer }}</p>
        </li>
      {% endfor -%}
    </ul>
  </div>
</section>
