---
layout: layouts/home.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---

{% include "partials/title-page.njk" %}
{% include "partials/reviews-section.njk" %}
{% include "partials/instagram-gallery-section.njk" %}

<script>document.addEventListener("DOMContentLoaded",function(){playVideo();},false);
  function playVideo() {
    let video = document.getElementById("bg-video");
    if(window.innerWidth > 750) {
      video.setAttribute("autoplay","");
      video.play();
    };
  }
</script>
