---
title: Reviews
header_image: fresh-flowers/fresh-flowers-by-floriade-00057
header_brightness: 40
layout: layouts/reviews.njk
eleventyNavigation:
  key: Reviews
  order: 40
---

{% set divider_sizes = [ 430, 294, 186, 179, 288 ] %}

<section>
  <div class="horizontal center"><a href="{{ site.google_review }}" class="button" role="button" target="_blank" rel="noopener">Leave a Review</a></div>
  <div id="reviews" class="wrapper">
    <ul class="vertical center">
      {% for item in reviews | shuffle -%}
        <li class="review color-light bg-shade1 text-center round-box border-shade2 shadow">
          <div class="wrapper text-wrapper flow" style="--flow-space:var(--step-2)">
            <p>{{ item.review }}</p>
            <p class="font-secondary color-shade4">{{ item.name }}</p>
          </div>
        </li>
        <figure style="width:100%;max-width:{{ divider_sizes[loop.index0 % 5] }}px;opacity:0.25">
          <img src="/images/floral-ornament-0{{ loop.index0 % 5 + 1 }}.svg" alt="floral ornament" loading="eager" />
        </figure>
      {% endfor -%}
    </ul>
  </div>
</section>
<p class="font-size--1 text-center" style="margin-bottom:2rem;opacity:0.5"><a href='https://www.freepik.com/vectors/flower'>Flower vectors created by freepik - www.freepik.com</a></p>
