---
layout: layouts/page.njk
pagination:
  data: valid_shop_products
  size: 1
  alias: product
permalink: "shop/products/{{ product.name | slug }}/index.html"
eleventyComputed:
  title: "{{ product.name }}"
  description: "{{ product.description }}"
  header_image: "{{ product.images[0] }}"
  header:
    brightness: "{{ product.brightness }}"
---

<main>
<section class="text-section bg-shade1">
  <article class="wrapper text-wrapper text-center">
    <p>{{ product.description }}</p>
  </article>
</section>

<section>
  <div class="wrapper page-wrapper">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
  </div>
</section>

{% include "partials/pagination.njk" %}

</main>
