---
layout: layouts/shop-page.njk
pagination:
  data: valid_shop_products
  size: 1
  alias: product
permalink: "shop/products/{{ product.name | slug }}/index.html"
eleventyComputed:
  title: "{{ product.name }}"
  description: "{{ product.description }}"
  header_image: "{{ product.images[0] }}"
  header:
    brightness: "{{ product.brightness }}"
---

{% set product_images_count = product.images | length %}
{% set anim_fade_time = 1 %}
{% set anim_show_time = 4 %}
{% set anim_duration = (anim_fade_time + anim_show_time) * product_images_count %}
{% set one_second = 100.0 / anim_duration %}
{{ ( '<style>@keyframes ' + (product.name | slug) + '-fade{0%{opacity:0;}' + (anim_fade_time * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time) * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time + anim_fade_time) * one_second) + '%{opacity:0;}100%{opacity:0;}}</style>' ) | safe if product_images_count > 1 }}
{% set image_id = (product.images | first | stripVersion) or (site.header_image | stripVersion) %}
{% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
{% set lqip_data = lqip_path | imgLqip %}

<style>
.fader img {
  opacity: 0;
  animation-iteration-count: infinite;
}
.radio-label-wrapper {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:center;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: -4px;
}
.radio-label {
  font-family: var(--font-family-secondary);
  background: var(--button-bg);
  color: var(--button-fg);
  padding: var(--step--2) var(--step--1);
  border: 1px solid currentcolor;
  margin: 4px;
}
.radio-label:focus {
  outline-offset: -0.2rem;
  outline: 1px solid;
}
.radio-label:hover {
  background: var(--button-fg);
  color: var(--button-hl);
  border-color: var(--button-hl);
}
input[type="radio"]:checked + .radio-label {
  color: var(--color-light);
  background: var(--color-shade1);
}
input[type="radio"][disabled] + .radio-label {
  background: var(--button-bg);
  color: grey;
  border-color: grey;
  cursor: default;
  pointer-events: none;
  box-shadow: none;
}
.stepper-controls {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
}
.stepper-controls nav {
  color: var(--color-shade3);
  padding: 0;
  margin: 0 0.5em;
  border-radius: 50%;
  width: var(--step-2);
  height: var(--step-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.stepper-controls nav span {
  width: var(--step-1);
}

.stepper-controls nav svg {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)) drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)) drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
}

</style>

{% set variant_heading = "" %}
{% set number_heading = "" %}
{% for category in shop_categories %}
  {% if category.name == product.category %}
    {% set variant_heading = category.variant_heading %}
    {% set number_heading = category.number_heading %}
  {% endif %}
{% endfor %}

<noscript>
<aside class="banner-error">
Javascript is currently disabled in your web browser. The online shop cannot function properly unless Javascript is enabled. Learn how to <a target="_blank" title="Opens in a new page" href="http://www.enable-javascript.com/" style="text-decoration:underline">enable Javascript</a> in your web browser.
</aside>
</noscript>

{% include "partials/view-cart-button.njk" %}

<section id="shop" class="two-column-section">
  <div class="wrapper page-wrapper two-columns" style="--align:start">
    <div class="wrapper image-wrapper flow" style="width:100%">
      <figure class="frame frame1x1 round shadow {{ 'fader' if product_images_count > 1 }}" style="width:100%;background-image:url({{ lqip_data }})">
        {% for product_image in product.images %}
          {% set anim_delay = (anim_fade_time + anim_show_time) * loop.index0 %}
          {% set image_id = (product_image | stripVersion) or (site.header_image | stripVersion) %}
          {% set image_info = image_id | imgInfo %}
          {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto/" %}
          {% set src = site.cloudinary_url + "/w_750," + transforms + image_id %}
          <noscript><img class="round" src="{{ src }}" alt="{{ image_info.context.alt or site.alt }}" style="{{ ('animation-delay:' + anim_delay + 's;animation-name:' + (product.name | slug) + '-fade;animation-duration:' + anim_duration + 's') | safe if product_images_count > 1 }}" loading="lazy" decoding="async" /></noscript>
          <div><img class="round" data-srcset="
          {%- for size in image_sizes -%}
          {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ image_id }} {{ size }}w{{ ',' if not loop.last }}
          {%- endfor -%}
          {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 750px) 750px, 100vw' -%}
          " sizes="{{ sizes }}" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ image_info.context.alt or site.alt }}" style="{{ ('animation-delay:' + anim_delay + 's;animation-name:' + (product.name | slug) + '-fade;animation-duration:' + anim_duration + 's') | safe if product_images_count > 1 }}" loading="lazy" decoding="async" /></div>
        {% endfor %}
      </figure>
      <p class="font-size--1">{{ product.page_description }}</p>
    </div>
    <div class="wrapper text-wrapper" style="width:100%;height:100%">

      <div id="parents-in-cart" class="stack">
        <h2 class="heading text-center">{{ product.name }}</h2>
        {% if product.price %}
        <p class="font-size-2 font-family-secondary text-center" style="margin-top:0.5rem">{{ product.price | formatMoney }}</p>
        {% endif %}
        <hr />
        <p id="product-stock-count" class="color-shade3 text-center font-secondary" style="display:none"></p>

        {% set valid_variants = product.variants | validProductVariants %}
        {% if valid_variants | length %}
          <h3 class="text-lowercase text-center">{{ variant_heading }}</h3>

          <div class="radio-label-wrapper">
            {% for variant in valid_variants %}
              <input id="{{ variant.id }}" class="visually-hidden" name="variant-id" type="radio" value="{{ variant.id }}" onclick="selectVariant('{{ variant.id }}')">
              <label class="radio-label text-center round cursor-pointer" for="{{ variant.id }}">{{ variant.name }}
                <br><span id="{{ variant.id }}-stock-count" style="display:none"></span>
              </label>
            {% endfor %}
          </div>
        {% endif %}

        {% if number_heading %}
          <div id="number-group" class="stack">
            <h3 class="text-lowercase text-center">{{ number_heading }}</h3>
            <div class="stepper-controls">
              <nav class="req-js" onclick="document.getElementById('product-count').stepDown();hideError();">
                <span role="button" title="Less" aria-label="Less">{{ '/src/svg/minus-circle.svg' | svgContents | safe }}</span>
              </nav>

              <input id="product-count" name="product-count" type="number" min="1" oninput="hideError()" value="1" class="text-center round" style="width:3em">

              <nav class="req-js" onclick="document.getElementById('product-count').stepUp();hideError();">
                <span role="button" title="More" aria-label="More">{{ '/src/svg/plus-circle.svg' | svgContents | safe }}</span>
              </nav>
            </div>
          </div>
        {% else %}
          <input id="product-count" name="product-count" type="hidden" value="1">
        {% endif %}

        <hr />

        <div id="button-group" class="stack center">
          <button class="cursor-pointer" onclick="addToCart('{{ product.id }}', {{ product | hasStock }}, {{ product | hasVariants }}, 'Please choose a {{ variant_heading | safe }}')">{{ 'Add to Cart' | lower }}</button>
          <button class="cursor-pointer" onclick="clearCart()">{{ 'Clear Cart' | lower }}</button>
          <span id="error-msg" class="error" style="visibility:hidden">&nbsp;</span>
        </div>
      </div>

      <div id="no-parents-in-cart" class="stack" style="display:none">
        <h2 class="heading text-center">{{ product.name }}</h2>
        {% if product.price %}<p class="font-size-2 font-family-secondary text-center" style="margin-top:0.5rem">{{ product.price | formatMoney }}</p>{% endif %}
        <hr />
        <p class="text-center" style="margin-left:auto;margin-right:auto;max-width:45ch">This product can only be purchased as an add&#8209;on to {{ product | listParents }}.</p>
        <div class="center-both">
          <a class="button icon-button" style="margin-left:auto;margin-right:auto" href="/shop/">
            <span>{{ '/src/svg/arrow-left.svg' | svgContents | safe }}</span><p>Continue Shopping</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "partials/pagination.njk" %}

<script>document.addEventListener("DOMContentLoaded",function(){checkCartHasParents("{{product.id}}");if({{product|hasStock}}){showProductStock("{{product.id}}");}showViewCart();});</script>
