---
layout: layouts/shop-categories.njk
pagination:
  data: shop_categories
  size: 1
  alias: category
permalink: "shop/categories/{{ category.name | slug }}/index.html"
eleventyComputed:
  title: "{{ category.name }}"
  description: "{{ category.description }}"
  header_image: "{{ category.image }}"
  header:
    brightness: "{{ category.brightness }}"
---

<main>
<section class="text-section bg-shade1">
  <article class="wrapper text-wrapper text-center">
    <p>{{ category.description }}</p>
  </article>
</section>

<section>
  <div class="wrapper page-wrapper">
    <ul class="flow">
      {% for product in shop_products | shopCategory(category.name) %}
        <li>
          <a href="{{ ( '/shop/products/' + product.name | slug ) | url }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<hr>
<div class="wrapper page-wrapper">
  <nav class="page-links font-secondary">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" title="Previous" aria-label="Previous">
        <span class="prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
        <p class="text-lowercase">{{ pagination.page.previous.name }}</p>
      </a>
    {% else %}
      <p>&nbsp;</p>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" title="Next" aria-label="Next" style="justify-self:end">
        <p class="text-right text-lowercase">{{ pagination.page.next.name }}</p>
        <span class="next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
      </a>
    {% else %}
      <p>&nbsp;</p>
    {% endif %}
  </nav>
</div>
</main>

