---
layout: layouts/shop-page.njk
pagination:
  data: valid_shop_categories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "shop/categories/{{ category.name | slug }}/index.php"
eleventyComputed:
  title: "{{ category.name }}"
  description: "{{ category.description }}"
  header_image: "{{ category.image }}"
  header:
    brightness: "{{ category.brightness }}"
  eleventyNavigation:
    key: "{{ category.eleventyNavigation.key }}"
    parent: "{{ category.eleventyNavigation.parent }}"
    order: "{{ category.eleventyNavigation.order }}"
---

<main>
<section class="text-section bg-shade1">
  <article class="wrapper text-wrapper text-center">
    <p>{{ category.description }}</p>
  </article>
</section>

<div class="wrapper page-wrapper">
  {% set swap = cycler("", "swap") %}
  {% for product in valid_shop_products | filterByCategory(category.name) %}
    <section class="two-column-section">
      <div class="two-columns {{ swap.next() }}" style="--section-padding:0;--align:center">
        <div>
          <figure class="frame frame1x1 round shadow">
            {% set image_id = (product.images[0] | stripVersion) or (site.header_image | stripVersion) %}
            {% set image_info = image_id | imgInfo %}
            {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
            {% set lqip_data = lqip_path | imgLqip %}
            {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto/" %}
            {% set src = site.cloudinary_url + "/w_900," + transforms + image_id %}
            <noscript><img src="{{ src }}" alt="{{ image_info.context.alt or site.alt }}" style="background-image:url({{ lqip_data }})" loading="lazy" decoding="async" /></noscript>
            <div><img data-srcset="
            {%- for size in image_sizes -%}
            {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ image_id }} {{ size }}w{{ ',' if not loop.last }}
            {%- endfor -%}
            {%- set sizes = '100vw' -%}
            {%- if section.width == 'Full' -%}
            {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, 100vw' -%}
            {%- else -%}
            {%- set sizes = '100vw' -%}
            {%- endif -%}
            {%- elif section.width == 'Extra Wide' -%}
            {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 1500px) 1500px, 100vw' -%}
            {%- else -%}
            {%- set sizes = '(min-width: 1500px) 1500px, 100vw' -%}
            {%- endif -%}
            {%- elif section.width == 'Paragraph' -%}
            {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 900px) 900px, 100vw' -%}
            {%- else -%}
            {%- set sizes = '(min-width: 900px) 900px, 100vw' -%}
            {%- endif -%}
            {%- else -%}
            {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 1200px) 1200px, 100vw' -%}
            {%- else -%}
            {%- set sizes = '(min-width: 1200px) 1200px, 100vw' -%}
            {%- endif -%}
            {%- endif -%}
            " sizes="{{ sizes }}" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ image_info.context.alt or site.alt }}" style="background-image:url({{ lqip_data }})" loading="lazy" decoding="async" /></div>
          </figure>
        </div>
        <div class="wrapper text-wrapper flow text-center">
          <h2 class="heading">{{ product.name | safe }}</h2>
          <p>{{ product.description | safe }}</p>
          <p class="text-center" style="margin-top:2em"><a class="button" href="{{ ( '/shop/products/' + product.name | slug ) | url }}">{{ category.button | lower or 'shop now' }}</a></p>
        </div>
      </div>
    </section>
  {% endfor %}
</div>

{% set gallery_name = category.name %}
{% set gallery_folder = category.gallery_folder %}
{% include "partials/gallery-section.njk" %}

{% include "partials/pagination.njk" %}

</main>

