---
layout: layouts/shop-products.njk
pagination:
  data: valid_shop_products
  size: 1
  alias: product
permalink: "shop/products/{{ product.name | slug }}/index.html"
eleventyComputed:
  title: "{{ product.name }}"
  description: "{{ product.description }}"
  header_image: "{{ product.images[0] }}"
  header:
    brightness: "{{ product.brightness }}"
---

{% set product_images_count = product.images | length %}
{% set anim_fade_time = 1 %}
{% set anim_show_time = 4 %}
{% set anim_duration = (anim_fade_time + anim_show_time) * product_images_count %}
{% set one_second = 100.0 / anim_duration %}
{{ ( '<style>@keyframes ' + (product.name | slug) + '-fade{0%{opacity:0;}' + (anim_fade_time * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time) * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time + anim_fade_time) * one_second) + '%{opacity:0;}100%{opacity:0;}}</style>' ) | safe if product_images_count > 1 }}
{% set image_id = (product.images | first | stripVersion) or (site.header_image | stripVersion) %}
{% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
{% set lqip_data = lqip_path | imgLqip %}

{% set variant_heading = "" %}
{% set number_heading = "" %}
{% for category in shop_categories %}
  {% if category.name == product.category %}
    {% set variant_heading = category.variant_heading %}
    {% set number_heading = category.number_heading %}
  {% endif %}
{% endfor %}

{% include "partials/javascript-warning.njk" %}

{% include "partials/view-cart-button.njk" %}

<section id="shop" class="two-column-section">
  <div class="wrapper page-wrapper two-columns" style="--align:start">
    <div class="wrapper image-wrapper flow width100">
      <figure class="canvas round shadow width100 {{ 'fader' if product_images_count > 1 }}" style="background-image:url({{ lqip_data }})">
        {% for product_image in product.images %}
          {% set anim_delay = (anim_fade_time + anim_show_time) * loop.index0 %}
          {% set image_id = (product_image | stripVersion) or (site.header_image | stripVersion) %}
          {% set image_info = image_id | imgInfo %}
          {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto/" %}
          {% set src = site.cloudinary_url + "/w_750," + transforms + image_id %}
          <noscript><img class="round width100" src="{{ src }}" alt="{{ image_info.context.alt or site.alt }}" style="{{ ('animation-delay:' + anim_delay + 's;animation-name:' + (product.name | slug) + '-fade;animation-duration:' + anim_duration + 's') | safe if product_images_count > 1 }}" loading="lazy" decoding="async" /></noscript>
          <div><img class="round width100" data-srcset="
          {%- for size in image_sizes -%}
          {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ image_id }} {{ size }}w{{ ',' if not loop.last }}
          {%- endfor -%}
          {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 750px) 750px, 100vw' -%}
          " sizes="{{ sizes }}" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ image_info.context.alt or site.alt }}" style="{{ ('animation-delay:' + anim_delay + 's;animation-name:' + (product.name | slug) + '-fade;animation-duration:' + anim_duration + 's') | safe if product_images_count > 1 }}" loading="lazy" decoding="async" /></div>
        {% endfor %}
      </figure>
      <p class="font-size--1">{{ product.page_description }}</p>
    </div>
    <div class="wrapper text-wrapper width100 height100">

      <div id="parents-in-cart" class="vertical flow">
        <h2 class="heading text-center">{{ product.name }}</h2>
        {% if product.price %}
        <p class="font-size-2 font-family-secondary text-center" style="margin-top:0.5rem">{{ product.price | formatMoney }}</p>
        {% endif %}
        <hr />
        <p id="product-stock-count" class="color-shade3 text-center font-secondary" style="display:none"></p>

        {% set valid_variants = product.variants | validProductVariants %}
        {% if valid_variants | length %}
          <h3 class="text-lowercase text-center">{{ variant_heading }}</h3>

          <div class="radio-label-wrapper">
            {% for variant in valid_variants %}
              <input id="{{ variant.id }}" name="variant-id" type="radio" value="{{ variant.id }}" onclick="selectVariant('{{ variant.id }}')">
              <label class="radio-label text-center round" for="{{ variant.id }}" x-apple-data-detectors="false">{{ variant.name }}
                <br><span id="{{ variant.id }}-stock-count" style="display:none"></span>
              </label>
            {% endfor %}
          </div>
        {% endif %}

        {% if number_heading %}
          <div id="number-group" class="vertical flow">
            <h3 class="text-lowercase text-center">{{ number_heading }}</h3>
            <div class="stepper-controls">
              <nav class="req-js" onclick="document.getElementById('product-count').stepDown();hideError();">
                <span role="button" title="Less" aria-label="Less">{{ '/src/svg/minus-circle.svg' | svgContents | safe }}</span>
              </nav>

              <input id="product-count" name="product-count" type="number" min="1" oninput="hideError()" value="1" class="input text-center round" style="width:3em">

              <nav class="req-js" onclick="document.getElementById('product-count').stepUp();hideError();">
                <span role="button" title="More" aria-label="More">{{ '/src/svg/plus-circle.svg' | svgContents | safe }}</span>
              </nav>
            </div>
          </div>
        {% else %}
          <input id="product-count" name="product-count" type="hidden" value="1">
        {% endif %}

        <hr />

        <div id="button-group" class="vertical flow center">
          <button id="add-to-cart-button" disabled class="button" onclick="addToCart('{{ product.id }}', {{ product | hasStock }}, {{ product | hasVariants }}, 'Please choose a {{ variant_heading | safe }}')">{{ 'Add to Cart' | lower }}</button>
          <button class="button" onclick="clearCart()">{{ 'Clear Cart' | lower }}</button>
          <span id="error-msg" class="error" role="alert" style="visibility:hidden">&nbsp;</span>
        </div>
      </div>

      <div id="no-parents-in-cart" class="vertical flow" style="display:none">
        <h2 class="heading text-center">{{ product.name }}</h2>
        {% if product.price %}<p class="font-size-2 font-family-secondary text-center" style="margin-top:0.5rem">{{ product.price | formatMoney }}</p>{% endif %}
        <hr />
        <p class="text-center" style="margin-left:auto;margin-right:auto;max-width:45ch">This product can only be purchased as an add&#8209;on to {{ product | listParents }}.</p>
        <div class="horizontal center middle">
          <a class="button" style="margin-left:auto;margin-right:auto" href="/shop/">
            <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "partials/pagination.njk" %}

<script>document.addEventListener("DOMContentLoaded",function(){displayShopProduct("{{product.id}}");},false);</script>
