---
layout: layouts/page.njk
eleventyNavigation:
  order: 10
  key: Shop
title: Shop
description: Contact Floriade for all your fresh & dried flower needs.
header_image: "/v1606787440/site/floriade-dried-flower-room-00001.jpg"
---

<section>
  <div class="wrapper">
    <div class="stack" style="--stack-space:var(--step-5)">
      {% for category in shop_categories %}
        <div>
          <div style="position:relative;padding:10vh 3vw">
            <figure class="round shadow background" style="--brightness:{{ category.brightness or '50' }}%">
              {% set image_id = (category.image | stripVersion) or (site.header_image | stripVersion) %}
              {% set image_info = image_id | imginfo %}
              {% set lqip_path = site.cloudinary_url + '/w_192,h_30,c_fill,q_auto,f_jpg,g_auto,e_blur:200/' + image_id %}
              <noscript><img src="{{ site.cloudinary_url }}/w_2048,h_320,c_fill,q_auto,f_auto,g_auto/{{ image_id }}" width="2048" height="320" style="background-image:url({{ lqip_path | lqip }})" alt="{{ image_info.context.alt or site.alt }}" loading="lazy" decoding="async" /></noscript>
              <img src="{{ site.transgif }}" data-src="{{ site.cloudinary_url }}/w_2048,h_320,c_fill,q_auto,f_auto,g_auto/{{ image_id }}" width="2048" height="320" style="background-image:url({{ lqip_path | lqip }})" alt="{{ image_info.context.alt or site.alt }}" loading="lazy" decoding="async" />
            </figure>
            <h2 class="text-right text-lowercase text-shadow">{{ category.name | safe }}</h2>
          </div>
          <div class="wrapper text-wrapper flow" style="margin-top:1em">
            <p>{{ category.description | safe }}</p>
            <p class="text-center"><a class="button" href="{{ ( '/shop/categories/' + category.name | slug ) | url }}">shop for {{ category.name | lower }}</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
