---
title: Corporate & Commercial Flowers
header_image: wedding-flowers/wedding-flowers-by-floriade-00033
layout: layouts/gallery.njk
alt: Wedding Flowers by Floriade
eleventyNavigation:
  key: Wedding Flowers
  order: 40
---

<style>
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.menu__backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 500ms ease-out;
  pointer-events: none;
}

.menu__burger {
  z-index: 2;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  right: 8px;
  padding: 2px 2px;
  filter:drop-shadow(0 0 2px rgba(0,0,0,0.5));
}

.menu__burger span,
.menu__burger span::before,
.menu__burger span::after {
  content: '';
  display: block;
  width: 28px;
  height: 4px;
  position: absolute;
  margin-top: 12px;
  background: white;
  border-radius: 3px;
}

.menu__burger span::before {
  margin-top: -8px;
}

.menu__burger span::after {
  margin-top: 8px;
}

.menu__toggle {
  z-index: 3;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  right: 8px;
  cursor: pointer;
  opacity: 0;
  outline: 1px solid black;
  pointer-events: all;
}

.menu__content {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 240px;
  height: 100vh;
  margin: 0;
  padding: 2rem 0 2rem 0;
  background: var(--color-primary);
  transform-origin: 0 0;
  transform: translateX(-260px);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  pointer-events: all;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
}

.menu__toggle:checked {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.menu__toggle:checked ~ .menu__content {
  transform: none;
}

.menu__toggle:checked ~ .menu__backdrop {
  opacity: 1;
}
</style>

<main>
<section class="bg-primary">
  <div class="wrapper page-wrapper">
    <ul class="auto-grid gallery">
      {% set gallery = wedding_flowers_gallery.resources | shuffle %}

      {% for item in gallery -%}
        {% if item.aspect_ratio > 1.38 %}
          {% set aspect = "4x3" %}
          {% set width = "640" %}
          {% set height = "480" %}
        {% elif item.aspect_ratio > 0.72 %}
          {% set aspect = "1x1" %}
          {% set width = "320" %}
          {% set height = "320" %}
        {% else %}
          {% set aspect = "2x3" %}
          {% set width = "320" %}
          {% set height = "480" %}
        {% endif %}
        <li class="frame frame{{ aspect }} round shadow">
          <img data-src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto:subject/{{ item.public_id }}" alt="{{ item.context.alt or alt }}" title="{{ item.context.alt or alt }}{% if item.context["Credit Name"] | length %} - Photo credit {{ item.context["Credit Name"] }}{% endif %}" width="{{ width }}" height="{{ height }}" onclick="openLightbox();showSlide({{ loop.index }})" style="cursor:pointer" class="lazyload">
        </li>
        {%- endfor %}
    </ul>
  </div>
</section>
</main>

{# ----- Hamburger Menu ----- #}

{#
<div id="menu" class="menu">
  <input class="menu__toggle" type="checkbox" onclick="toggleMenu(this)">
  <div class="menu__burger">
    <span></span>
  </div>
  <div class="menu__content">
    <nav>
      <h3 class="menu__title">Floriade</h3>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
  </div>
  <div class="menu__backdrop"></div>
</div>
#}

{# ----- Gallery Lightbox ----- #}

{% set sizes = [300, 600, 900, 1200, 1500, 1800, 2100, 2400] %}

<div id="lightbox">
  <nav class="close" onclick="closeLightbox()">&times;</nav>
  {% for item in gallery -%}
    <div class="lightbox__slide">
      <img data-srcset="
      {% for size in sizes %}
        {{ site.cloudinary_url }}/c_limit,w_{{ size }},h_{{ size }},q_auto,f_auto/{{ item.public_id }} {{ size }}w,
      {% endfor %}
      " sizes="{{ "80vh" if item.aspect_ratio < 1 else "80vw" }}" data-src="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ item.public_id }}" alt="{{ item.context.alt or alt }}" title="{{ item.context.alt or alt }}{% if item.context["Credit Name"] | length %} - Photo credit {{ item.context["Credit Name"] }}{% endif %}" width="{{ item.width }}" height="{{ item.height }}" class="lazyload">
      <div class="caption">
        <h4>{{ item.context.alt or alt }}</h4>
      <h5 class="link-light">{% if item.context["Credit Link"] | length %}Photo credit <a href="{{ item.context["Credit Link"] | safe }}" target="_blank">{{ item.context["Credit Name"] }}</a>{% else %}&nbsp;{% endif %}</h5>
      <h5 class="link-light"><a href="mailto:{{ site.email }}?subject=Gallery%20Enquiry&amp;body=Hi%20Annwyn%0A%0A{{ item.context.alt or alt }}%0A%0A{{ site.cloudinary_url }}/c_limit,w_1200,h_1200,q_auto,f_auto/{{ item.public_id }}">Email Floriade about this image{# ( {{ item.public_id }} ) #}</a></h5>
      </div>

      {% if loop.index > 1 %}
        <nav class="prev" onclick="showSlide({{ loop.index - 1 }})">&lt;</nav>
      {% else %}
        <nav class="prev">&nbsp;</nav>
      {% endif %}
      {% if loop.index < gallery | length %}
        <nav class="next" onclick="showSlide({{ loop.index + 1 }})">&gt;</nav>
      {% else %}
        <nav class="next">&nbsp;</nav>
      {% endif %}
    </div>
    {%- endfor %}
</div>
