
.faq label{
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 30px;
}

.faq label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 10px;
  border-left: 8px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
}

.faq input[type="checkbox"]:checked ~ h3 label::before {
  border-left: 8px solid transparent;
  border-top: 8px solid white;
  border-right: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
}

.faq p {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
}

.faq input[type="checkbox"]:checked ~ h3 ~ p {
  padding: 1em;
  max-height: 100%;
}
