---
permalink: "css/theme.css"
---
@font-face {
  font-family: PoppinsLight;
  src: url("/fonts/poppins-light.woff") format("woff"),
       url("/fonts/poppins-light.ttf") format("truetype");
}

@font-face {
  font-family: Kollektif;
  font-weight: normal;
  src: url("/fonts/kollektif.woff") format("woff"),
       url("/fonts/kollektif.ttf") format("truetype");
}

@font-face {
  font-family: Kollektif;
  font-weight: bold;
  src: url("/fonts/kollektif-bold.woff") format("woff"),
       url("/fonts/kollektif-bold.ttf") format("truetype");
}

:root {
{%- for token, value in colorTokens %}
  --{{ token | hyphenate }}: {{ value }};
{%- endfor %}
}

{% for token, value in colorTokens %}
.bg-{{ token | hyphenate | replace("color-", "") }} { background: {{ value }} }
{%- endfor %}

{% for token, value in colorTokens %}
.{{ token | hyphenate }} { color: {{ value }} }
{%- endfor %}
