---
permalink: "css/theme.css"
---

:root {
  --color-light: {{ tokens.colorLight }};
  --color-dark: {{ tokens.colorDark }};
  --color-primary: {{ tokens.colorPrimary }};
  --color-shade1: {{ tokens.colorShade1 }};
  --color-shade2: {{ tokens.colorShade2 }};
  --color-shade3: {{ tokens.colorShade3 }};
  --color-shade4: {{ tokens.colorShade4 }};
  --color-dust1: {{ tokens.colorDust1 }};
  --color-dust2: {{ tokens.colorDust2 }};
  --color-dust3: {{ tokens.colorDust3 }};
}
