{% extends "layouts/page.njk" %}

{% block pre %}
<?php include $_SERVER['DOCUMENT_ROOT'] . '/php/shop-functions.php'; ?>

<?php

$delivery_suburb = "";
$return_url = "";

$page = "Checkout";

if($_SERVER["REQUEST_METHOD"] == "POST") {

  if(isset($_POST["return-url"])) { $return_url = clean($_POST["return-url"]); }
  if(empty($return_url)) { criticalError($page, "No Return URL"); }

  if(isset($_POST["delivery-suburb"])) { $delivery_suburb = clean($_POST["delivery-suburb"]); }

  if(empty($delivery_suburb)) {
    $_SESSION["error"] = "Please choose a delivery option";
    header("Location:" . $return_url);
    exit;
  }

  $timeout = microtime(true) - $cart_expiry_time;

  $cart_expired = false;

  foreach($_SESSION["cart"] as $cart_item) {
    if(isset($cart_item["stock-id"])) {
      $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
      if(($cart_item["updated"] < $timeout) || ($cart_item["updated"] < $stock_item["updated"])) {
        $cart_expired = true;
      }
    }
  }

  if($cart_expired) {
    foreach($_SESSION["cart"] as $cart_item) {
      if(isset($cart_item["stock-id"])) {
        $stock_item = $stockStore->findOneBy(["stock-id", "=", $cart_item["stock-id"]]);
        if($cart_item["updated"] == $stock_item["updated"]) {
          $stock_item["updated"] = microtime(true) - $cart_reset_time;
          $stockStore->update($stock_item);
        }
      }
    }

    unset($_SESSION["cart"]);
    unset($_SESSION["payment-intent-id"]);
    $_SESSION["cart"] = array();
    $_SESSION["error"] = "Your session has timed out";
    header("Location:" . $return_url);
    exit;
  }

  $_SESSION["delivery-suburb"] = $delivery_suburb;
}

?>
{% endblock %}

{% block foot %}
  {{ super() }}

  {% set js %}
  var stripe;

  var changeLoadingState = function(isLoading) {
    if (isLoading) {
      document.querySelector("button").disabled = true;
      document.querySelector("#spinner-icon").style.display = "block";
      document.querySelector("#cart-icon").style.display = "none";
      document.querySelector("#submit-text").innerText = "Submitting";
    } else {
      document.querySelector("button").disabled = false;
      document.querySelector("#spinner-icon").style.display = "none";
      document.querySelector("#cart-icon").style.display = "block";
      document.querySelector("#submit-text").innerText = "Order Now";
    }
  };

  var setupElements = function(data) {
    stripe = Stripe(data.publishableKey);
  
    var elements = stripe.elements({fonts:[
      {
        family: "Poppins",
        weight: "normal",
        src: "url(https://floriade.co.nz/fonts/poppins-light.woff)",
        display: "swap"
      },
      {
        family: "Kollektif",
        weight: "normal",
        src: "url(https://floriade.co.nz/fonts/kollektif.woff)",
        display: "swap"
      }
    ]});
  
    var card = elements.create("card", {
      hidePostalCode: true,
      style: {
        base: {
          fontFamily: "Poppins, sans-serif",
          fontWeight: "normal",
          fontSize: "16px",
          lineHeight: "2em",
          color: "#333333",
          backgroundColor: "#CDDAD5",
          ":focus": {
            backgroundColor: "#CDDAD5",
          },
          ":-webkit-autofill": {
            color: "#333333",
            backgroundColor: "#CDDAD5",
          },
          "::placeholder": {
            fontFamily: "Kollektif, sans-serif",
            color: "#818D89",
          },
        },
      }
    });
  
    card.mount("#card-input");
  
    card.addEventListener("change", function(event) {
      var card_errors = document.getElementById("card-errors");
  
      if(event.error) {
        card_errors.innerText = event.error.message;
        card_errors.style.visibility = "visible";
      } else {
        card_errors.style.visibility = "hidden";
      }
    },false);

    return {
      stripe: stripe,
      card: card,
      clientSecret: data.clientSecret
    };
  };

  var pay = function(stripe, card, clientSecret, form) {
    changeLoadingState(true);

    stripe.confirmCardPayment(clientSecret, { payment_method: { card: card } })
    .then(function(result) {
      changeLoadingState(false);
      if (result.error) {
        var card_errors = document.getElementById("card-errors");
        card_errors.innerText = result.error.message;
        card_errors.style.visibility = "visible";
      } else {
        form.submit();
      }
    });
  };

document.addEventListener("DOMContentLoaded", function() {

    document.querySelector("button").disabled = true;

    /*
    fetch("/php/create-payment-intent.php", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(orderData)
    })
    */

    fetch("/php/create-payment-intent.php", { method: "POST" })
    .then(function(result) {
      return result.json();
    })
    .then(function(data) {
      return setupElements(data);
    })
    .then(function({ stripe, card, clientSecret }) {
      document.querySelector("button").disabled = false;

      var form = document.getElementById("checkout-form");
      form.addEventListener("submit", function(event) {
        event.preventDefault();
        pay(stripe, card, clientSecret, form);
      });
    });

  }, false);

  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
