---
layout: layouts/base.njk
---
<main>
<section class="bg-primary"></section>
<section class="bg-shade1"></section>
<section class="bg-shade2"></section>
<section class="bg-shade3"></section>
<section class="bg-shade4"></section>
<section class="bg-dust1"></section>
<section class="bg-dust2"></section>
<section class="bg-dust3"></section>
</main>
