---
layout: layouts/home.njk
---

{% block content %}

<header class="bg-primary">
  <div class="wrapper">

    {% include "nav.njk" %}

  </div>
</header>

<section>
  <div class="gallery-container">

    {% set insta_images = instagram | head(12) %}
    {% for image in insta_images %}
      <img src="{{ image.media_url }}" alt="{{ image.caption }}">
        <!-- <p>{{ image.caption }}</p> -->
    {% endfor %}

  </div>
</section>

<section>
  <div class="gallery-container">
    {# wedding_flowers_gallery | log #}
  </div>
</section>

{% endblock %}
