#lightbox {
  visibility: hidden;
  background: var(--color-darker-grey);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 990;
}

#lightbox figure {
  position: relative;
  width: 100%;
  height: 100%;
}

#lightbox figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

#lightbox figcaption.hidden {
  display: none;
}

#lightbox figcaption > div {
  display: inline-block;
  margin-bottom: 1.5rem;
  background: rgba(0,0,0,0.4);
  box-shadow: 0 0 3rem 3rem rgba(0,0,0,0.4);
}

#lightbox img {
  height: 100%;
  object-fit: contain;
}

#lightbox nav {
  z-index: 999;
  color: white;
  position: fixed;
  padding: 0;
  width: var(--step-4);
  height: var(--step-4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#lightbox nav svg {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)) drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)) drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
}

#lightbox .prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#lightbox .next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#lightbox .close {
  right: 0;
  top: 0;
}

#lightbox .toggle-captions {
  left: 0;
  top: 0;
}

