
  .lightbox__slide {
    z-index: 1;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    position: relative;
    height: 0;
    width: 0;
    opacity: 0;
    transition: width 0s 0s, height 0s 0s, opacity 0s 0s;
    /* transition: width 0s 1s, height 0s 1s, opacity 1s 0s; */
  }

  .lightbox__slide.visible {
    z-index: 11;
    width: 80vw;
    height: 80vh;
    overflow: visible;
    opacity: 1;
    transition: width 0s 0s, height 0s 0s, opacity 1s 0s;
  }

  .lightbox__slide img {
    object-fit: contain;
  }

  .lightbox__slide nav, #lightbox .close {
    color: white;
    position: absolute;
    font-size: 2rem;
    padding: 0;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  .lightbox__slide .prev {
    left: -10vw;
    top: 50%;
    transform: translateY(-50%);
  }

  .lightbox__slide .next {
    right: -10vw;
    top: 50%;
    transform: translateY(-50%);
  }

  #lightbox .close {
    right: 0;
    top: 0;
  }

  .lightbox__slide .caption {
    color: white;
    background: var(--color-darker-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.5rem 1rem 1.5rem 1rem;
  }
