---
permalink: /ui.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UI</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/modular-scale.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/layout.css">
    <style>.item{padding:0.25em 0.5em}#top-menu ul{display:flex;justify-content:space-evenly;margin:0;padding:0}#top-menu li{white-space:nowrap}</style>
  </head>
  <body>
    <main class="canvas center height100vh" style="background:rgba(61,72,68,85%)">
    <nav id="top-menu" class="width100 wrapper page-wrapper" style="place-self:start">
      <ul>
        <li class="item">First</li>
        <li class="item">Second</li>
        <li class="item">Third</li>
        <li class="item">Fourth</li>
        <li class="item">Fifth</li>
        <li class="item">Sixth</li>
      </ul>
    </nav>
    <div style="width:100%;max-width:40ch;padding:3em">
      Amet numquam qui doloremque corporis temporibus. Quam consectetur qui ad magnam velit cum Assumenda iste minus rem maxime sapiente. Architecto.
    </div>
    <img class="bg cover" src="https://res.cloudinary.com/floriade/w_2048,c_fill,ar_1,q_auto,f_auto,g_auto/site/floriade-dried-flower-room-00001" alt="">
    </main>

    <section>
      <div class="wrapper" style="width:50%">
        <div class="round shadow border-shade1" style="padding:3em 0">
          <div class="horizontal space-evenly width100">
            <a class="button icon-button" href="javascript:;" aria-label="Continue Shopping">
              {{ '/src/svg/arrow-left.svg' | svgContents | iconButton | safe }}
              </a>
            <button class="button icon-button" type="button" aria-label="Add to Cart">
              {{ '/src/svg/shopping-cart.svg' | svgContents | iconButton | safe }}
              </button>
          </div>
        </div>
      </div>
      <div class="wrapper" style="width:50%">
        <div class="round shadow border-shade1" style="padding:3em 0">
          <div class="horizontal space-evenly width100">
            <a class="button" href="javascript:;">
              {{ '/src/svg/plus-circle.svg' | svgContents | iconTextButton | safe }}
              Button Link</a>
            <button class="button" type="button">
              {{ '/src/svg/minus-circle.svg' | svgContents | iconTextButton | safe }}
              Real Button</button>
          </div>
        </div>
      </div>
      <div class="wrapper" style="width:50%">
        <div class="round shadow border-shade1 border2" style="padding:3em 0">
          <div class="vertical flow width100">
            <a class="button" href="javascript:;">
              {{ '/src/svg/plus-circle.svg' | svgContents | iconTextButton | safe }}
              Button Link</a>
            <button class="button" type="button">
              {{ '/src/svg/minus-circle.svg' | svgContents | iconTextButton | safe }}
              Real Button</button>
          </div>
        </div>
      </div>
      <div class="wrapper" style="width:50%">
        <div class="round shadow border-shade1 border2" style="padding:3em 0">
          <div class="buttons width100">
            <a class="button" href="javascript:;">
              {{ '/src/svg/plus-circle.svg' | svgContents | iconTextButton | safe }}
              Button Link</a>
            <button class="button" type="button">
              {{ '/src/svg/minus-circle.svg' | svgContents | iconTextButton | safe }}
              Real Button</button>
          </div>
        </div>
      </div>
    </section>

    <section class="border-red">
      <div class="wrapper flow border-blue">
        <h1 class="heading">Heading 1</h1>
        <h2 class="heading">Heading 2</h2>
        <h3 class="heading">Heading 3</h3>
        <h4 class="heading">Heading 4</h4>
        <p>Ipsum reprehenderit doloremque perspiciatis illum magni Repellat repellat amet consequatur doloribus delectus aut Quae sequi iure blanditiis officiis quae Ducimus minus magnam quis doloribus laboriosam Cum excepturi atque neque quod ut! Atque dolores ducimus voluptatum dicta omnis odio? Illo illo voluptas soluta modi eum aliquid. Beatae natus minus in cumque amet sit. Blanditiis eum perspiciatis facilis ipsa repellat Ex quidem quae quam qui earum ratione? Nemo vero iste impedit modi omnis, ullam nostrum accusamus, nesciunt Voluptates necessitatibus eligendi quasi debitis voluptatum soluta perspiciatis eligendi Alias quidem quo asperiores amet a, magni incidunt Cum adipisci praesentium veniam quaerat obcaecati Omnis iure.</p>
      </div>
      <div class="wrapper flow border-blue">
        <div class="horizontal border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Normal</p>
        </div>
        <div class="horizontal center border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Center</p>
        </div>
        <div class="horizontal left border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Left</p>
        </div>
        <div class="horizontal right border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Right</p>
        </div>
        <div class="horizontal space-between border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Space</p>
          <p class="item border-red">Between</p>
        </div>
        <div class="horizontal space-around border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Space</p>
          <p class="item border-red">Around</p>
        </div>
        <div class="horizontal space-evenly border-green">
          <p class="item border-red">Horizontal</p>
          <p class="item border-red">Space</p>
          <p class="item border-red">Evenly</p>
        </div>
      </div>
      <div class="wrapper flow border-blue">
        <div class="vertical border-green">
          <p class="item border-red">Vertical</p>
          <p class="item border-red">Normal</p>
          <p class="item border-red">One</p>
          <p class="item border-red">Two</p>
          <p class="item border-red">Three</p>
        </div>
        <div class="vertical center border-green">
          <p class="item border-red">Vertical</p>
          <p class="item border-red">Center</p>
          <p class="item border-red">One</p>
          <p class="item border-red">Two</p>
          <p class="item border-red">Three</p>
        </div>
        <div class="vertical left border-green">
          <p class="item border-red">Vertical</p>
          <p class="item border-red">Left</p>
          <p class="item border-red">One</p>
          <p class="item border-red">Two</p>
          <p class="item border-red">Three</p>
        </div>
        <div class="vertical right border-green">
          <p class="item border-red">Vertical</p>
          <p class="item border-red">Right</p>
          <p class="item border-red">One</p>
          <p class="item border-red">Two</p>
          <p class="item border-red">Three</p>
        </div>
      </div>
    </section>
  </body>
</html>
