---
layout: layouts/home.njk
---

{% block content %}

<header class="bg-primary">
  <div class="wrapper">
    {% include "nav.njk" %}
  </div>
</header>

<section class="bg-light">
  <div>
    <input class="input" type="text" name="datepicker" required placeholder="Please choose a delivery date">
  </div>
</section>

{% endblock %}
