---
layout: layouts/home.njk
---

<header class="uk-section uk-section-primary">
<div class="uk-container">

{% include "nav.njk" %}

</div>
</header>

<section>
<div class="gallery-container">

{% set insta_images = instagram | head(12)%}
{% for image in insta_images %}
    <img src="{{ image.media_url }}">
    <!-- <p>{{ image.caption }}</p> -->
{% endfor %}

</div>
</section>

