---
title: Floriade - fresh & dried flowers for any occasion
layout: layouts/home.njk
---

<header class="bg-primary">
  <div class="wrapper">

    {% include "nav.njk" %}

  </div>
</header>

<h1>{{ title }}</h1>

<img src="{{ '/images/floriade-logo.svg' | url }}" width=150 height=auto alt="Floriade logo">

<ul>
  {% for post in collections.posts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
