---
title: Reviews
header_image: fresh-flowers/fresh-flowers-by-floriade-00057
layout: layouts/page.njk
eleventyNavigation:
  key: Reviews
  order: 10
---

<style>
@media screen and (max-width: 420px) {
  .round-box {
    --box-padding: var(--step-0);
  }
}
</style>

<main>
<section class="bg-shade1 flow" style="--flow-space:var(--step-4)">
  {% for item in reviews | shuffle -%}
    <div class="round-box stack center bg-primary color-light border-shade2 shadow-primary text-center">
      <p>{{ item.review }}</p>
      <p class="font-secondary color-shade4">{{ item.name }}</p>
    </div>
  {% endfor -%}
</section>
</main>
