---
title: Test
header_image: fresh-flowers/fresh-flowers-by-floriade-00029
layout: layouts/page.njk
---
<div class="checkerboard">
  <div>
    <figure>
      {% set image_id = "site/annwyn-tobin-holding-flowers-00001" %}
      {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
      {% set lqip_data = lqip_path | imgLqip %}
      <img class="cover" src="{{ lqip_data }}" alt="">
    </figure>
  </div>
  <div>
    <figure>
      <img class="cover" src="/images/at.svg" alt="">
    </figure>
  </div>
</div>

<div class="checkerboard">
  <div>
    <figure>
      {% set image_id = "site/floriade-dried-flower-room-00001" %}
      {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
      {% set lqip_data = lqip_path | imgLqip %}
      <img class="cover" src="{{ lqip_data }}" alt="">
    </figure>
  </div>
  <div>
    <figure>
      <img class="cover" src="/images/df.svg" alt="">
    </figure>
  </div>
</div>

<div class="checkerboard">
  <div>
    <figure>
      {% set image_id = "instagram/floriade_wellington_18089395303252283" %}
      {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
      {% set lqip_data = lqip_path | imgLqip %}
      <img class="cover" src="{{ lqip_data }}" alt="">
    </figure>
  </div>
  <div>
    <figure>
      <img class="cover" src="/images/ig.svg" alt="">
    </figure>
  </div>
</div>

<div class="checkerboard">
  <div>
    <figure>
      {% set image_id = "wedding-flowers/wedding-flowers-by-floriade-00038" %}
      {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
      {% set lqip_data = lqip_path | imgLqip %}
      <img class="cover" src="{{ lqip_data }}" alt="">
    </figure>
  </div>
  <div>
    <figure>
      <img class="cover" src="/images/wf.svg" alt="">
    </figure>
  </div>
</div>

