---
title: Wedding Flowers
layout: layouts/gallery.njk
alt: Wedding Flowers by Floriade
---

<main>
<section class="wrapper">
  <h1>{{ title }}</h1>
</section>
<section class="bg-white">
  <div class="wrapper page-wrapper">
    <ul class="auto-grid gallery">
      {% set gallery = wedding_flowers_gallery.resources | shuffle %}

      {% for item in gallery -%}
        {% if item.aspect_ratio > 1.38 %}
          {% set aspect = "4x3" %}
          {% set width = "640" %}
          {% set height = "480" %}
        {% elseif item.aspect_ratio > 0.72 %}
          {% set aspect = "1x1" %}
          {% set width = "320" %}
          {% set height = "320" %}
        {% else %}
          {% set aspect = "2x3" %}
          {% set width = "320" %}
          {% set height = "480" %}
        {% endif %}
        <li class="frame frame{{ aspect }} shadow">
          <img src="{{ site.cloudinary_url }}c_fill,w_{{ width }},h_{{ height }},q_auto,g_auto:subject/{{ item.public_id }}" alt="{{ item.context.alt or alt }}" title="{{ item.context.alt or alt }}{% if item.context.caption | length %} - {{ item.context.caption | striptags }}{% endif %}" width="{{ width }}" height="{{ height }}" onclick="openModal();showSlide({{ loop.index }})" style="cursor:pointer" loading="lazy">
        </li>
        {%- endfor %}
    </ul>
  </div>
</section>
</main>

{# ----- Gallery Lightbox ----- #}

<div id="lightbox" class="gallery">
  <nav class="close" onclick="closeModal()">&times;</nav>
  {% for item in gallery -%}
    <div class="lightbox__slide">
      <img src="{{ site.cloudinary_url }}{{ item.public_id }}" alt="{{ item.context.alt or alt }}" title="{{ item.context.alt or alt }}{% if item.context.caption | length %} - {{ item.context.caption | striptags }}{% endif %}" width="{{ item.width }}" height="{{ item.height }}" loading="lazy">
      <div class="caption">
        <h3>{{ item.context.alt or alt }}</h3>
        <h4>{{ item.context.caption | safe }}</h4>
      </div>
      {% if loop.index > 1 %}
        <nav class="prev" onclick="showSlide({{ loop.index - 1 }})">&lt;</nav>
      {% else %}
        <nav class="prev">&nbsp;</nav>
      {% endif %}
      {% if loop.index < gallery | length %}
        <nav class="next" onclick="showSlide({{ loop.index + 1 }})">&gt;</nav>
      {% else %}
        <nav class="next">&nbsp;</nav>
      {% endif %}
    </div>
    {%- endfor %}
</div>
