---
title: Wedding Flowers
layout: layouts/base.njk
alt: Wedding Flowers by Floriade
---

<main>
<section class="wrapper">
  <h1>{{ title }}</h1>
</section>
<section class="bg-white">
  <div class="wrapper page-wrapper">
    <ul class="auto-grid gallery">
      {% set gallery = wedding_flowers_gallery.resources | shuffle %}

      {% for item in gallery -%}
        {% if item.aspect_ratio > 1.38 %}
          {% set aspect = "4x3" %}
          {% set width = "640" %}
          {% set height = "480" %}
        {% elseif item.aspect_ratio > 0.72 %}
          {% set aspect = "1x1" %}
          {% set width = "320" %}
          {% set height = "320" %}
        {% else %}
          {% set aspect = "2x3" %}
          {% set width = "320" %}
          {% set height = "480" %}
        {% endif %}
        <li class="frame frame{{ aspect }} shadow">
          <img src="{{ site.cloudinary_url }}c_fill,w_{{ width }},h_{{ height }},q_auto,g_auto:subject/{{ item.public_id }}" alt="{{ item.context.alt or alt }}" title="{{ item.context.alt or alt }}{% if item.context.caption | length %} - {{ item.context.caption | striptags }}{% endif %}" width="{{ width }}" height="{{ height }}" loading="lazy">
        </li>
        {%- endfor %}
    </ul>
  </div>
</section>
</main>

<!-- <section class="full-height bg-black">
  <div class="reel" style="--height:90vmin;margin:auto 0">
  {% for item in gallery -%}
    <img src="{{ site.cloudinary_url }}{{ item.public_id }}" alt="{{ item.context.alt or alt }}" title="{{ item.context.alt or alt }}{% if item.context.caption | length %} - {{ item.context.caption | striptags }}{% endif %}" width="{{ item.width }}" height="{{ item.height }}" loading="lazy">
    {%- endfor %}
    </div>
    </section> -->
