<footer class="bg-shade1 font-size--1">
  <section class="wrapper page-wrapper">
    <div style="display:flex;justify-content:center;margin-bottom:2em"><a href="#top" title="Scroll to Top" onClick="(function(){window.scroll({top:0,left:0,behavior:'smooth'});return false;})();return false;" style="width:24px">{{ '/src/svg/chevron-up.svg' | svgContents | safe }}</a></div>
    <div class="switcher" style="--threshold:35rem;--switcher-space:0">
      <div>
        <div class="stack center" style="padding-bottom:var(--section-padding)">
          <h4>Location</h4>
          <a href="{{ site.google_maps }}" title="Open in Google Maps" target="_blank" rel="noreferrer noopener">
            <p>{{ site.address }}<br>{{ site.address_locality }}, {{ site.address_region }}, {{ site.address_postcode }}<br>New Zealand</p>
          </a>
        </div>
        <div class="stack center" style="padding-bottom:var(--section-padding)">
          <h4>Hours</h4>
          {% include "partials/shop-hours.njk" %}
        </div>
        <div class="stack center" style="padding-bottom:var(--section-padding)">
          <h4>Contact</h4>
          <p><a href="{{ site.mailto_obf | safe }}?subject=Flowers Enquiry" title="Send us a message">{{ site.email_obf | safe }}</a></p>
          <p><a href="tel:{{ site.phone_intl }}" title="Call now">{{ site.phone }}</a></p>
        </div>
      </div>
    </div>
    <div class="stack center" style="--stack-space:var(--step-1)">
      <div class="color-light" style="width:240px;height:2rem;display:flex;justify-content:space-between">
        <a href="{{ site.facebook }}" target="_blank" rel="noreferrer noopener" style="width:12px" title="Follow us on Facebook">
          {{ '/src/svg/facebook-f.svg' | svgContents | safe }}</a>
        <a href="{{ site.instagram }}" target="_blank" rel="noreferrer noopener" style="width:20px" title="Follow us on Instagram">
          {{ '/src/svg/instagram.svg' | svgContents | safe }}</a>
        <a href="{{ site.pinterest }}" target="_blank" rel="noreferrer noopener" style="width:20px" title="Pin us on Pinterest">
          {{ '/src/svg/pinterest.svg' | svgContents | safe }}</a>
        <a href="{{ site.google_review }}" target="_blank" rel="noreferrer noopener" style="width:20px" title="Leave a Google review">
          {{ '/src/svg/google.svg' | svgContents | safe }}</a>
      </div>
      <p style="white-space:nowrap">© Floriade Ltd {{ now_nz.year }}. All rights reserved</p>
    </div>
  </section>
</footer>
