<div id="menu">
  <input class="toggle" type="checkbox">
  <nav class="burger">
    <span role="button" style="width:var(--step-1)" title="Menu" aria-label="Menu">{{ '/src/svg/bars.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close">
    <span role="button" style="width:var(--step-1)" title="Close" aria-label="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <div class="content vertical center">
    <nav class="bg-shade1" style="padding:1.5em">
      <figure class="logo">
        <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo" style="margin:0 auto" loading="eager" decoding="async" />
      </figure>
      {{ collections.all | eleventyNavigation | removeEmpty | eleventyNavigationToHtml | safe }}
      {{ collections.all | eleventyNavigation("Flowers") | removeEmpty | eleventyNavigationToHtml | safe }}
    </nav>
  </div>
  <div class="backdrop"></div>
</div>
