<div id="menu">
  <input class="toggle" type="checkbox" onclick="toggleMenu(this)">
  <nav class="burger">
    <span style="width:var(--step-1)" title="Menu">{{ '/src/svg/bars.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close">
    <span style="width:var(--step-1)" title="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <div class="content">
    <figure class="logo">
      <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo" style="margin:0 auto" loading="eager" decoding="async" />
    </figure>
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      {{ collections.all | eleventyNavigation("Flowers") | eleventyNavigationToHtml | safe }}
    </nav>
  </div>
  <div class="backdrop"></div>
</div>
