<div id="menu" class="menu">
  <input class="menu__toggle" type="checkbox" onclick="toggleMenu(this)">
  <nav class="menu__burger">
    <span title="Menu"></span>
  </nav>
  <nav class="menu__close">
    <span style="width:var(--step-1)" title="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <div class="menu__content">
    <figure class="logo">
      <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo" style="margin:0 auto">
    </figure>
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      {{ collections.all | eleventyNavigation("Flowers") | eleventyNavigationToHtml | safe }}
    </nav>
  </div>
  <div class="menu__backdrop"></div>
</div>
