<header class="header">
  <figure class="background">
    <img class="darken" src="{{ site.cloudinary_url }}/c_fill,w_1920,h_300,q_auto,f_auto,g_auto/{{ header_image }}" alt="Header image">
  </figure>
  <div class="content">
    <figure class="logo">
      <a href="/">
        <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo">
      </a>
    </figure>
    <h1>{{ (headerTitle or title) | lower }}</h1>
  </div>
</header>
<div class="banner-message">
  {{ banner_message.message | safe }}
</div>
