<header id="header" class="header">
  <figure class="background" style="--brightness:{{ header.brightness or '50' }}%">
    {% set image_id = (header_image | stripVersion) or (site.header_image | stripVersion) %}
    {% set lqip_path = site.cloudinary_url + "/w_192,h_30,c_fill,q_auto,f_jpg,g_auto,e_blur:200/" + image_id %}
    <img src="{{ site.cloudinary_url }}/w_2048,h_320,c_fill,q_auto,f_auto,g_auto/{{ image_id }}" width="2048" height="320" style="background-image:url({{ lqip_path | lqip }})" alt="{{ header.alt or page_alt or site.alt }}" loading="eager" decoding="async" />
  </figure>
  <nav class="site-menu wrapper page-wrapper text-lowercase text-shadow font-secondary link-lighter">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </nav>
  <div class="content">
    <figure class="logo">
      <a href="/">
        <img src="{{ '/images/floriade-logo.png' | url }}" width="320" height="269" alt="Floriade logo" loading="eager" decoding="async" />
      </a>
    </figure>
    <h1>{{ (header.title or title) | lower }}</h1>
  </div>
  <nav class="site-menu wrapper page-wrapper text-lowercase text-shadow font-secondary link-lighter">
    {{ collections.all | eleventyNavigation("Flowers") | eleventyNavigationToHtml | safe }}
  </nav>
</header>
<aside class="banner-message link-dark">
  {% markdown banner_message.message %}
</aside>
