{# ----- Instagram Thumbnails ----- #}

{% set instagram_images = instagram_gallery | head(12) %}

<section class="wrapper">
  <ul class="auto-grid" style="--auto-grid-min-size:220px">
    {% for item in instagram_images -%}
      <li class="frame frame1x1 round shadow">
        <figure>
          <noscript><a href="{{ item.image | url }}"><img src="{{ item.thumbnail | url }}" width="460" height="460" alt="{{ item.caption }}" style="cursor:pointer" /></a></noscript>
          <img data-src="{{ item.thumbnail | url }}" src="{{ item.preview }}" width="460" height="460" alt="{{ item.caption }}" onclick="openLightbox('#item{{ loop.index }}')" style="cursor:pointer" data-loading="lazy" />
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>

{# ----- Instagram Lightbox ----- #}

<div id="lightbox">
  <ul class="slider">
    {% for item in instagram_images -%}
      <li id="item{{ loop.index }}" class="slider-item">
        <figure class="center-both">
          <img data-src="{{ item.image | url }}" src="{{ item.preview }}" width="1440" height="1440" alt="{{ item.caption }}" data-loading="lazy" />
          <figcaption class="wrapper text-wrapper">
            <div class="text-center text-shadow flow">
              <h4>{{ item.caption }}</h4>
            </div>
          </figcaption>
        </figure>
      </li>
      {%- endfor %}
  </ul>
  <nav class="toggle-captions" onclick="toggleCaptions()">
    <span style="width:var(--step-1)" title="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close" onclick="closeLightbox()">
    <span style="width:var(--step-1)" title="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="prev" onclick="scrollToPrevItem()">
    <span style="width:var(--step-1)" title="Prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="next" onclick="scrollToNextItem()">
    <span style="width:var(--step-1)" title="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
  </nav>
</div>

