{# ----- Instagram Thumbnails ----- #}

{% set instagram_images = instagram_gallery | sortISO8601 | reverse | head(12) %}

<section class="wrapper">
  <ul class="auto-grid" style="--auto-grid-min-size:220px">
    {% for item in instagram_images -%}
      <li class="frame frame1x1 round shadow">
        <figure>
          {% set lqip_path = site.cloudinary_url + "/c_fill,w_64,h_64,f_jpg,g_auto:subject,e_blur:200/" + (item.public_id | stripVersion) %}
          {% set thumbnail_path = site.cloudinary_url + "/c_fill,w_350,h_350,q_auto,f_auto,g_auto:subject/" + (item.public_id | stripVersion) %}
          {% set image_path = site.cloudinary_url + "/c_fill,w_1440,h_1440,q_auto,f_auto,g_auto:subject/" + (item.public_id | stripVersion) %}
          <noscript><a href="{{ image_path }}"><img src="{{ thumbnail_path }}" width="350" height="350" alt="{{ item.context.caption }}" style="cursor:pointer" /></a></noscript>
          <img data-src="{{ thumbnail_path }}" src="{{ lqip_path | lqip }}" width="350" height="350" alt="{{ item.context.caption }}" onclick="openLightbox('#item{{ loop.index }}')" style="cursor:pointer" data-loading="lazy" />
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>

{# ----- Instagram Lightbox ----- #}

{% set instagram_image_sizes = [640, 750, 900, 1080, 1260, 1440] %}

<div id="lightbox">
  <ul class="slider">
    {% for item in instagram_images -%}
      <li id="item{{ loop.index }}" class="slider-item">
        <figure class="center-both">
          {% set lqip_path = site.cloudinary_url + "/c_fill,w_64,h_64,f_jpg,g_auto:subject,e_blur:200/" + (item.public_id | stripVersion) %}
          {% set image_path = site.cloudinary_url + "/c_fill,w_900,h_900,q_auto,f_auto,g_auto:subject/" + (item.public_id | stripVersion) %}
          <img data-srcset="
          {%- for size in instagram_image_sizes -%}
          {{ site.cloudinary_url }}/w_{{ size }},c_fill,ar_1,q_auto,f_auto,g_auto:subject/{{ item.public_id | stripVersion }} {{ size }}w{{ ',' if not loop.last }}
          {%- endfor -%}
          " sizes="100vmin" data-src="{{ image_path }}" src="{{ lqip_path | lqip }}" width="1400" height="1400" alt="{{ item.context.caption }}" data-loading="lazy" />
          <figcaption class="wrapper text-wrapper">
            <div class="text-center text-shadow flow">
              <h4>{{ item.context.caption }}</h4>
            </div>
          </figcaption>
        </figure>
      </li>
      {%- endfor %}
  </ul>
  <nav class="toggle-captions" onclick="toggleCaptions()">
    <span style="width:var(--step-1)" title="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close" onclick="closeLightbox()">
    <span style="width:var(--step-1)" title="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="prev" onclick="scrollToPrevItem('#lightbox')">
    <span style="width:var(--step-1)" title="Prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="next" onclick="scrollToNextItem('#lightbox')">
    <span style="width:var(--step-1)" title="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
  </nav>
</div>

