{% if section.template == "text-section" %}
  <section>
    <article class="wrapper text-wrapper">
      {% markdown section.text %}
    </article>
  </section>
{% endif %}

{% if section.template == "hero-section" %}
  <section>
    <div class="cover shadow" style="--min-height:90vh">
      <figure class="background" style="--brightness:{{ section.brightness or '50' }}%">
        {% set lqip_path = site.cloudinary_url + "/c_limit,w_64,h_64,f_jpg,e_blur:200/" + (section.image | stripVersion) %}
        {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto:subject/" %}
        {% set src = site.cloudinary_url + "/w_900," + transforms + (section.image | stripVersion) %}
        <noscript><img src="{{ src }}" alt="{{ section.alt or page_alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" /></noscript>
        <img data-srcset="
        {%- for size in image_sizes -%}
        {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ section.image | stripVersion }} {{ size }}w{{ ',' if not loop.last }}
        {%- endfor -%}
        " sizes="100vw" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ section.alt or page_alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" />
      </figure>
      <article class="bigfonts font-secondary centered wrapper text-wrapper flow text-center text-shadow">
        {% markdown section.text %}
      </article>
    </div>
  </section>
{% endif %}

{% if section.template == "image-section" %}
  <section>
    <figure>
      {% set lqip_path = site.cloudinary_url + "/c_limit,w_64,h_64,f_jpg,e_blur:200/" + (section.image | stripVersion) %}
      {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto:subject/" %}
      {% set src = site.cloudinary_url + "/w_900," + transforms + (section.image | stripVersion) %}
      <noscript><img class="img-cover" src="{{ src }}" alt="{{ section.alt or page_alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" /></noscript>
      <img class="img-cover" data-srcset="
      {%- for size in image_sizes -%}
      {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ section.image | stripVersion }} {{ size }}w{{ ',' if not loop.last }}
      {%- endfor -%}
      " sizes="100vw" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ section.alt or page_alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" />
    </figure>
  </section>
{% endif %}

{% if section.template == "split-image-text-section" %}
  <section>
    <div class="domino{{ ' swap' if section.swap }}">
      <figure>
        {% set lqip_path = site.cloudinary_url + "/c_limit,w_64,h_64,f_jpg,e_blur:200/" + (section.image | stripVersion) %}
        {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto:subject/" %}
        {% set src = site.cloudinary_url + "/w_900," + transforms + (section.image | stripVersion) %}
        <noscript><img class="img-cover" src="{{ src }}" alt="{{ section.alt or page_alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" /></noscript>
        <img class="img-cover" data-srcset="
        {%- for size in image_sizes -%}
        {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ section.image | stripVersion }} {{ size }}w{{ ',' if not loop.last }}
        {%- endfor -%}
        " sizes="(orientation: landscape) 50vw, 100vw" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ section.alt or page_alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" />
      </figure>
      <div class="center-both">
        <article class="wrapper text-wrapper">
          {% markdown section.text %}
        </article>
      </div>
    </div>
  </section>
{% endif %}

{% if section.template == "contact-form-section" %}
  <section>
    <div class="wrapper text-wrapper flow">
      <h2 class="heading text-center">{{ section.heading or 'Contact Us' }}</h2>
      <form id="contact-form" class="req-js" action="/php/contact-form-handler.php" method="post">
        <label for="name-input">
          Name
          <input id="name-input" name="name" type="text" placeholder="Your Name">
        </label>
        <label for="email-input">
          Email
          <input id="email-input" name="email" type="email" placeholder="Your Email">
        </label>
        <label for="message-input">
          Message
          <textarea id="message-input" name="message" placeholder="{{ section.message or 'How can we help you?' }}" rows="10"></textarea>
        </label>
        <input id="subject-input" name="subject" type="hidden" value="{{ section.email_subject or 'Flowers Enquiry' }}">
        <input id="heading-input" name="heading" type="hidden" value="{{ section.email_heading or 'Thankyou for contacting Floriade.' }}">
        <input id="banner-input" name="banner" type="hidden" value="{{ section.email_banner or 'https://floriade.co.nz/images/floriade-icon-round-512.png' }}">
        <input id="alt-input" name="alt" type="hidden" value="{{ section.email_alt or page_alt or site.alt }}">
        <input id="recaptcha-site-key" name="recaptcha-site-key" type="hidden" value="{{ env.RECAPTCHA_SITE_KEY }}">
        <input id="gRecaptchaResponse" name="g-recaptcha-response" type="hidden">

        <p class="text-center font-secondary" style="color:red;min-height:1.5em" id="response-message">&nbsp;</p>
        <div class="text-center"><button type="submit">{{ section.button or 'Send Message' }}</button></div>
        <p class="font-size--2 text-center">Protected by reCAPTCHA &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a> &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/en/policies/terms/">Terms</a></p>
      </form>
      <noscript>
        <div class="text-center flow" style="margin-top:1em">
          <p><a href="{{ site.mailto_obf | safe }}?subject={{ section.email_subject or 'Flowers Enquiry' }}" title="Send us a message">{{ site.email_obf | safe }}</a></p>
          <p><a href="tel:{{ site.phone_intl }}" title="Call now">{{ site.phone }}</a></p>
        </div>
      </noscript>
    </div>
  </section>
  {% set js %}
  {% include "js/contact-form-handler.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
{% endif %}

{% if section.template == "google-maps-section" %}
  <section>
    <div class="frame frame1x1 shadow">
      {% if env.NODE_ENV == 'deploy' %}
        <iframe class="req-js" frameborder="0" style="width:100%;height:100%;border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ env.GOOGLE_PLACE_ID }}&key={{ env.GOOGLE_MAPS_KEY }}&zoom=17" allowfullscreen></iframe>
      {% endif %}
      {{ '<noscript>' | safe if env.NODE_ENV == 'deploy' }}
        <a target="_blank" title="Open in Google Maps" href="{{ site.google_maps }}"><img class="img-cover" src="{{ '/images/floriade-map.jpg' | url }}" width="1024" height="1024" alt="Map of the location of Floriade at {{ site.address }}, {{ site.address_locality }}, {{ site.address_region }}"></a>
      {{ '</noscript>' | safe if env.NODE_ENV == 'deploy' }}
    </div>
  </section>
{% endif %}
