{% set section_delay = 0 %}
{% asyncEach outer_section in page_sections %}
{% set section = outer_section %}
{% include "partials/page-sections-inner.njk" %}
{% if outer_section.template == "checkerboard-section" %}
  {% set section_delay = section_delay + 0.25 %}
{% endif %}
{% if outer_section.template == "two-column-section" %}
  <section class="two-column-section{{ ' bg-' + section.background.color | lower if (section.background.color) and (section.background.color != 'Transparent') }}"{{ ' style="margin:var(--section-padding) 0"' | safe if section.background.image }}>
    {% ifAsync section.background.image %}
      {% include "partials/section-background.njk" %}
    {% endif %}
    {% set two_columns = true %}
    <div class="wrapper page-wrapper two-columns{{ ' swap' if outer_section.swap }}" style="--section-padding:0;--align:{{ outer_section.align | lower or 'center' }}">
      <div class="flow">
        {% asyncEach inner_section in outer_section.left_sections %}
        {% set section = inner_section %}
        {% include "partials/page-sections-inner.njk" %}
        {% endeach %}
      </div>
      <div class="flow">
        {% asyncEach inner_section in outer_section.right_sections %}
        {% set section = inner_section %}
        {% include "partials/page-sections-inner.njk" %}
        {% endeach %}
      </div>
    </div>
    {% set two_columns = false %}
  </section>
{% endif %}
{% endeach %}
