{% for section in page_sections %}

{% ifAsync section.template == "divider-section" %}
  <hr>
{% endif %}

{% ifAsync section.template == "text-section" %}
  {% include "partials/text-section.njk" %}
{% endif %}

{% ifAsync section.template == "image-section" %}
  {% include "partials/image-section.njk" %}
{% endif %}

{% ifAsync section.template == "youtube-section" %}
  <section class="youtube-section{{ ' bg-shade1' if (section.alternate_background_color) }}" style="--section-space:0">
    {% include "partials/youtube-section.njk" %}
  </section>
{% endif %}

{% ifAsync section.template == "contact-form-section" %}
  <section class="contact-form-section{{ ' bg-shade1' if (section.alternate_background_color) }}">
    {% include "partials/contact-form-section.njk" %}
  </section>
{% endif %}

{% ifAsync section.template == "reviews-section" %}
  {% set reviews_config = { wedding: section.wedding, count: section.count, limit: section.limit } %}
  {% include "partials/reviews-section.njk" %}
{% endif %}

{% ifAsync section.template == "checkerboard-section" %}
  {% include "partials/checkerboard-section.njk" %}
{% endif %}

{% endfor %}
