{% if section.template == "divider-section" %}
  <hr>
{% endif %}

{% if section.template == "text-section" %}
  <section class="text-section{{ ' bg-' + section.background.color | lower if (section.background.color) and (section.background.color != 'Transparent') }}"{{ ' style="margin:var(--section-padding) 0"' | safe if section.background.image }}>
    {% ifAsync section.background.image %}
      {% include "partials/section-background.njk" %}
    {% endif %}
    <article class="wrapper text-wrapper text-{{ section.align or 'left' }}{{ ' text-shadow' if section.background.image }}{{ ' bigfonts font-secondary' if section.bigfonts }}">
      {% markdown section.text %}
      {% if section.button.text %}
        <div class="text-center font-size-0"><a class="button" role="button" href="{{ section.button.link }}"{{ ' target="_blank" rel="noopener"' | safe if section.button.new_page }}>{{ section.button.text }}</a></div>
      {% endif %}
    </article>
  </section>
{% endif %}

{% if section.template == "image-section" %}
  <section class="image-section">
    <div class="wrapper{{ ' text-wrapper' if section.width == 'Paragraph' }}{{ ' page-wrapper' if section.width == 'Extra Wide' }}{{ ' no-wrapper' if section.width == 'Full' }}">
      <figure class="frame frame{{ section.aspect or '1x1' }} round shadow">
        {% set image_id = section.image | stripVersion %}
        {% set image_info = image_id | imginfo %}
        {% set lqip_path = site.cloudinary_url + "/c_limit,w_32,h_32,q_auto,f_jpg,e_blur:100/" + image_id %}
        {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto/" %}
        {% set src = site.cloudinary_url + "/w_900," + transforms + image_id %}
        <noscript><img src="{{ src }}" alt="{{ image_info.context.alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" /></noscript>
        <div><img data-srcset="
        {%- for size in image_sizes -%}
        {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ image_id }} {{ size }}w{{ ',' if not loop.last }}
        {%- endfor -%}
        {%- set sizes = '100vw' -%}
        {%- if section.width == 'Full' -%}
          {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, 100vw' -%}
          {%- else -%}
            {%- set sizes = '100vw' -%}
          {%- endif -%}
        {%- elif section.width == 'Extra Wide' -%}
          {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 1500px) 1500px, 100vw' -%}
          {%- else -%}
            {%- set sizes = '(min-width: 1500px) 1500px, 100vw' -%}
          {%- endif -%}
        {%- elif section.width == 'Paragraph' -%}
          {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 900px) 900px, 100vw' -%}
          {%- else -%}
            {%- set sizes = '(min-width: 900px) 900px, 100vw' -%}
          {%- endif -%}
        {%- else -%}
          {%- if two_columns -%}
            {%- set sizes = '(min-width: 1500px) and (orientation: landscape) 750px, (min-width: 950px) and (orientation: landscape) 50vw, (min-width: 1200px) 1200px, 100vw' -%}
          {%- else -%}
            {%- set sizes = '(min-width: 1200px) 1200px, 100vw' -%}
          {%- endif -%}
        {%- endif -%}
        " sizes="{{ sizes }}" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ image_info.context.alt or site.alt }}" style="background-image:url({{ lqip_path | lqip }})" loading="lazy" decoding="async" /></div>
      </figure>
    </div>
  </section>
{% endif %}

{% if section.template == "contact-form-section" %}
  <section class="contact-form-section">
    <div class="wrapper text-wrapper flow{{ ' round-box shadow border-shade2 bg-' + section.background.color | lower if (section.background.color) and (section.background.color != 'Transparent') }}" style="padding:var(--padding)">
      <h2 class="heading text-center">{{ section.heading or 'Contact Us' }}</h2>
      <form id="contact-form" class="req-js" action="/php/contact-form-handler.php" method="post">
        <label for="name-input">
          Name
          <input class="round" id="name-input" name="name" type="text" placeholder="Your Name">
        </label>
        <label for="email-input">
          Email
          <input class="round" id="email-input" name="email" type="email" placeholder="Your Email">
        </label>
        <label for="message-input">
          Message
          <textarea class="round" id="message-input" name="message" placeholder="{{ section.message or 'How can we help you?' }}" rows="10"></textarea>
        </label>
        <input id="subject-input" name="subject" type="hidden" value="{{ section.email_subject or 'Flowers Enquiry' }}">
        <input id="heading-input" name="heading" type="hidden" value="{{ section.email_heading or 'Thankyou for contacting Floriade.' }}">
        <input id="banner-input" name="banner" type="hidden" value="{{ section.email_banner or 'https://floriade.co.nz/images/floriade-icon-round-512.png' }}">
        <input id="recaptcha-site-key" name="recaptcha-site-key" type="hidden" value="{{ env.RECAPTCHA_SITE_KEY }}">
        <input id="gRecaptchaResponse" name="g-recaptcha-response" type="hidden">

        <p class="text-center font-secondary" style="color:red;min-height:1.5em" id="response-message">&nbsp;</p>
        <div class="text-center"><button type="submit">{{ section.button or 'Send Message' }}</button></div>
        <p class="font-size--2 text-center">Protected by reCAPTCHA &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a> &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/en/policies/terms/">Terms</a></p>
      </form>
      <noscript>
        <div class="text-center flow" style="margin-top:1em">
          <p><a href="{{ site.mailto_obf | safe }}?subject={{ section.email_subject or 'Flowers Enquiry' }}" title="Send us a message" aria-label="Send us a message">{{ site.email_obf | safe }}</a></p>
          <p><a href="tel:{{ site.phone_intl }}" title="Call now" aria-label="Call now">{{ site.phone }}</a></p>
        </div>
      </noscript>
    </div>
  </section>
  {% set js %}
  {% include "js/contact-form-handler.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
{% endif %}

{% if section.template == "google-maps-section" %}
  <section class="google-maps-section">
    <div class="wrapper">
      <div class="frame frame1x1 round shadow">
        {% if env.NODE_ENV == 'deploy' %}
          <iframe class="req-js" frameborder="0" style="width:100%;height:100%;border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ env.GOOGLE_PLACE_ID }}&key={{ env.GOOGLE_MAPS_KEY }}&zoom=17" allowfullscreen></iframe>
        {% endif %}
        {{ '<noscript>' | safe if env.NODE_ENV == 'deploy' }}
          <a target="_blank" rel="noopener" title="Open in Google Maps" aria-label="Open in Google Maps" href="{{ site.google_maps }}"><img class="img-cover" src="{{ '/images/floriade-map.jpg' | url }}" width="1024" height="1024" alt="Map of the location of Floriade at {{ site.address }}, {{ site.address_locality }}, {{ site.address_region }}"></a>
          {{ '</noscript>' | safe if env.NODE_ENV == 'deploy' }}
      </div>
      <noscript><p class="text-center font-size--1">Click to open in Google Maps</p></noscript>
    </div>
  </section>
{% endif %}

{% if section.template == "contact-details-section" %}
  <section class="contact-details-section">
    <div class="stack center">
      <h2 class="heading text-center">Contact Us</h2>
      <div class="stack center" style="--stack-space:2rem">
        <a href="{{ site.google_maps }}" title="Open in Google Maps" aria-label="Open in Google Maps" target="_blank" rel="noopener">
          <p>{{ site.address }}<br>{{ site.address_locality }}, {{ site.address_region }}, {{ site.address_postcode }}<br>New Zealand</p>
        </a>
        <p><a href="{{ site.mailto_obf | safe }}?subject=Flowers Enquiry" title="Send us a message" aria-label="Send us a message">{{ site.email_obf | safe }}</a></p>
        <p><a href="tel:{{ site.phone_intl }}" title="Call now" aria-label="Call now">{{ site.phone }}</a></p>
        <h3 class="heading text-center">Follow Us</h3>
        <div class="color-light" style="width:200px;height:2rem;display:flex;justify-content:space-between">
          <a href="{{ site.facebook }}" target="_blank" rel="noopener" style="width:12px" title="Follow us on Facebook" aria-label="Follow us on Facebook">
            {{ '/src/svg/facebook-f.svg' | svgContents | safe }}</a>
          <a href="{{ site.instagram }}" target="_blank" rel="noopener" style="width:20px" title="Follow us on Instagram" aria-label="Follow us on Instagram">
            {{ '/src/svg/instagram.svg' | svgContents | safe }}</a>
          <a href="{{ site.pinterest }}" target="_blank" rel="noopener" style="width:20px" title="Pin us on Pinterest" aria-label="Pin us on Pinterest">
            {{ '/src/svg/pinterest.svg' | svgContents | safe }}</a>
          <a href="{{ site.google_review }}" target="_blank" rel="noopener" style="width:20px" title="Leave a Google review" aria-label="Leave a Google review">
            {{ '/src/svg/google.svg' | svgContents | safe }}</a>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if section.template == "shop-hours-section" %}
  <section class="shop-hours-section">
    <div class="stack center">
      <h2 class="heading text-center">Shop Hours</h2>
      {% include "partials/shop-hours.njk" %}
    </div>
  </section>
{% endif %}
