<style>.page-links{padding:1em 0;display:grid;grid-gap:3em;grid-template-columns:1fr 1fr;}.page-links a{border-radius:50%;display:flex;align-items:center;}.page-links .prev{width:var(--step-0);margin-right:0.5em;flex-shrink:0;}.page-links .next{width:var(--step-0);margin-left:0.5em;flex-shrink:0;}</style>
<hr>
<div class="wrapper page-wrapper">
  <nav class="page-links font-secondary">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" aria-label="Previous">
        <span class="prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
        <p class="text-lowercase">{{ pagination.page.previous.name }}</p>
      </a>
    {% else %}
      <p>&nbsp;</p>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" aria-label="Next" style="justify-self:end">
        <p class="text-right text-lowercase">{{ pagination.page.next.name }}</p>
        <span class="next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
      </a>
    {% else %}
      <p>&nbsp;</p>
    {% endif %}
  </nav>
</div>
