<section id="reviews" class="bg-shade1 font-size-1">
  <ul class="slider center-both" style="padding:1em 0">
    {% for item in reviews | removeLongReviews(300) | shuffle | head(5) -%}
      <li id="item{{ loop.index }}" class="slider-item">
        <div class="wrapper text-wrapper font-secondary">
          <div class="stack">
            <p class="font-size-1 text-center">{{ item.review }}</p>
            <p class="font-size-0 text-center">{{ item.name }}</p>
          </div>
        </div>
      </li>
    {% endfor -%}
  </ul>
  <div class="slider-controls req-js" style="display:flex;justify-content:space-between">
    <nav class="prev" onclick="scrollToPrevItem('#reviews')">
      <span style="width:var(--step-1)" title="Prev">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="next" onclick="scrollToNextItem('#reviews')">
      <span style="width:var(--step-1)" title="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
    </nav>
  </div>
  <div class="text-center font-size-0"><button><a href="/reviews">Read More Reviews</a></button></div>
</section>
