<figure class="background" style="--brightness:{{ section.background.brightness or '50' }}%">
  {% set image_id = section.background.image | stripVersion %}
  {% set image_info = image_id | imgInfo %}
  {% set lqip_path = site.cloudinary_url + "/c_limit,w_64,h_64,q_auto,f_jpg,e_blur:200/" + image_id %}
  {% set lqip_data = lqip_path | imgLqip %}
  {% set transforms = "c_fill,ar_1,q_auto,f_auto,g_auto/" %}
  {% set src = site.cloudinary_url + "/w_900," + transforms + image_id %}
  <noscript><img src="{{ src }}" alt="{{ image_info.context.alt or site.alt }}" style="background-image:url({{ lqip_data }})" loading="lazy" decoding="async" /></noscript>
  <img data-srcset="
  {%- for size in image_sizes -%}
  {{ site.cloudinary_url }}/w_{{ size }},{{ transforms }}{{ image_id }} {{ size }}w{{ ',' if not loop.last }}
  {%- endfor -%}
  {%- set sizes = '100vw' -%}
  {%- if two_columns -%}
    {%- set sizes = '(orientation: landscape) 50vw, 100vw' -%}
  {%- endif -%}
  " sizes="{{ sizes }}" data-src="{{ src }}" src="{{ site.transgif }}" alt="{{ image_info.context.alt or site.alt }}" style="background-image:url({{ lqip_data }})" loading="lazy" decoding="async" />
</figure>
