<table style="margin:0 auto">
  {% set monday = now_nz.startOf('week') %}
  {% set days = [ monday, monday.plus({days:1}), monday.plus({days:2}), monday.plus({days:3}), monday.plus({days:4}), monday.plus({days:5}), monday.plus({days:6}) ] %}
  {% for day in days %}
    {% if day | readableDate in shop_closed_dates %}
      <tr><td>{{ day.weekdayLong }}&nbsp;</td><td>&nbsp;Closed {{ day | readableDate }}</td></tr>
    {% else %}
      <tr><td>{{ day.weekdayLong }}&nbsp;</td><td>&nbsp;{{ shop_hours[ day.weekdayLong | lower ] }}</td></tr>
    {% endif %}
  {% endfor %}
</table>

<br>

<div class="wrapper text-wrapper">
  <div class="select">
    <select id="delivery_date" name="delivery_date" required>
      <option default disabled selected hidden value="">Select a delivery date...</option>
      {% set today = now_nz %}
      {% set days = [ today, today.plus({days:1}), today.plus({days:2}), today.plus({days:3}), today.plus({days:4}), today.plus({days:5}), today.plus({days:6}), today.plus({days:7}), today.plus({days:8}), today.plus({days:9}), today.plus({days:10}), today.plus({days:11}), today.plus({days:12}), today.plus({days:13}) ] %}
      {% for day in days -%}
        {% set invalid = (day | readableDate in non_delivery_dates) or (day.weekday == 7) %}
        <option {{ "disabled" if invalid }} value="{{ day.weekdayLong }} {{ day | readableDate }}">{{ day.weekdayLong }} {{ day | readableDate }}{{ " (today)" if day == today }}</option>
        {%- endfor %}
      <span class="focus"></span>
    </select>
  </div>
</div>
