<style>
.site-menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  margin:0;
  padding: 0.25rem;
}
.site-menu li {
  text-align: center;
}
</style>

<nav class="site-menu bg-primary shadow text-lowercase font-secondary" style="position:sticky;top:0;z-index;999">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>
