<?php if(count($_SESSION["cart"]) > 0) { ?>
<div class="center-both text-center" style="padding-top:calc(var(--section-padding) / 2)">
  <a class="button icon-button text-lowercase" style="display:flex" href="/cart/">
    <span>{{ '/src/svg/shopping-cart.svg' | svgContents | safe }}</span><p>View your Cart</p>
  </a>
</div>
<?php } ?>
