<div id="view-cart" class="horizontal center middle text-center" style="display:none;padding-top:calc(var(--section-padding) / 2)">
  <a class="button" href="/cart/">
    <span>{{ '/src/svg/shopping-cart.svg' | svgContents | iconTextButton | safe }}</span><p>View your Cart</p>
  </a>
</div>
